[2016-04-11 08:12] ktomk commented on #803
@xxorax: I can confirm this working now for

    $ composer require n98/magerun

[2016-04-11 08:15] ktomk commented on #746
Works now for require n98/magerun ^1.97

[2016-04-11 10:47] amenk commented on #806
It's not that hard to make a composer package :) Not sure what you mean by a shared folder ... how can this be done on github? Just make a composer package ...

[2016-04-11 14:29] kesonno opened #809 "Error when started debug with Zend Debugger"
Hi,
I usually debug shell scripts with Zend Debugger and PHPStorm, and I start it with:

[code]

but when I do this and launch n98-magerun, it die with this error:

[code]

My PHP version is 5.5.27 built-in on OSX 10.10.5.

Anyone experienced similar behaviour?

[2016-04-11 15:28] tkn98 commented on #809
@kesonno, what is the magerun version you have?

And also please check this ticket, as if that file would not have been in there, the whole program (even w/o debugger) wuold not even show the `--version`:

1. #706 Cannot run n98-magerun

2. #707 Magerun should self-test required PHP settings

[2016-04-11 15:30] tkn98 commented on #806
Not saying it's hard, we can turn that shared repo into a composer package, it's actually pretty trivial.

[2016-04-11 15:31] tkn98 commented on #808
`admin:user:lockdown` ^^

[2016-04-11 15:48] kesonno commented on #809
@tkn98 magerun version is 1.97.17

I've not mentioned that if the debug isn't active (because I disable from shell with `export QUERY_STRING=''` or because I stop listening connection from PHPStorm) magerun work without problems.

[2016-04-11 17:08] ktomk commented on #809
Hmm, something is interesting about your error message:

It looks as-if the bin-stub `bin/98-magerun` is invoked and not `n98-magerun.phar`. You should share the complete example that is causing you the issue.

[2016-04-11 17:20] kesonno commented on #809
exactly :) and I've renamed it removing the ".phar" extension

ever used the phar downloaded from https://files.magerun.net/n98-magerun.phar. I'll try with the source and let you know.

[2016-04-11 17:29] ktomk commented on #809
Please try with the source (just clone the repo, you can clone master), then start `bin/n98-magerun` in it, it's the phar-stub (and exactly the file that requires the bootstrap.

Phar download should be fine normally, also with xdebug. I use xdebug, too.

You could also try to upgrade, as 1.97.18 is out, too (`n98-magerun self-update`).

[2016-04-11 20:48] robbieaverill commented on #808
@tkn98 how much power do you give people? It may be a powerful yet useful command to have

[2016-04-11 22:38] ktomk commented on #808
@robbieaverill: all power to the people :)

[2016-04-12 07:55] nathan333 opened #811 "scope id"
Hi there,

I just found something that might be a small issue with config.  In src/N98/Magento/Command/Config/AbstractConfigCommand.php there was a change. Im guessing it was line 117     if (0 >= (int)$scopeId) . I noticed this because I have be trying to run config:set --scope websites --scope-id 0 blah blah, and it was working fine last week but not today (i saw a commit to this file 5 days ago

[2016-04-12 10:46] ssachtleben opened #812 "UnexpectedValueException during sample data installation"
Hey,

we are currently writing an ansible role to install magento test systems on demand. Problem now is that we are running reguarly into this issue:

[code]

It happens in 1 out of 5 builds. And since we want to install magento 1.7, 1.8 and 1.9 on one server at the same time it's not really stable. We are using the following command:

[code]

Is it possible to fix it somehow?

Best,
Sebastian

[2016-04-12 12:42] tkn98 commented on #811
Hi Nathan, thanks for the report. It is correct that an error is given since a more recent version.

I belief that we should not use zero (0) within the *websites* scope. This is why you see the error. This was left unchecked in previous versions and is now more strict.

If you think this is an error, it would be great you could show a valid example or some other kind of reference that shows how a

[2016-04-12 20:18] ktomk commented on #812
That's because the downloads are not stable from Sourceforge.

I see two options:

- Re-try the download. I do this on Travis from time to time.
- [Provide your own packages](https://github.com/netz98/n98-magerun/wiki/Magento-installer#add-own-magento-repositories). Then you can offer downloads from a server that is in your control.

[2016-04-12 21:28] robbieaverill commented on #808
Merged into develop.

[2016-04-12 21:28] #808 closed

[2016-04-12 22:04] ktomk commented on #809
Please set ini setting `phar.readonly=0` and if that does not help, please try the source version. Zend debugger once could not debug code form phar files (I've read).

[2016-04-13 05:53] rjocoleman commented on #811
I've got the same issue. I was previously using `config:delete 'web/secure/base_url' --scope-id 0 --scope='stores'`.

I have the `base_url`'s set for admin store, scope 0.

This is not a GUI accessible configuration but it works, I do not remember the context around setting it to work this way as it was many years ago, it may well be an abuse of the core scope handling.

The new `config:delete` va

[2016-04-13 05:59] nathan333 commented on #811
yeah. I work with a few customers and they all have their admin as scope 0. Its a little frustrating as I cannot really change this for them. I have just reverted back to using the older version.

[2016-04-13 06:13] rjocoleman commented on #811
I see a few options:

1. #814 (`all` command using default too), this is potentially imprecise for this specific issue. Arguably `all` should do _all_ but that's a separate topic for #814)
2. Less validation.
3. Another flag to force validation to be disregarded - non-default, for those that need it - `config:delete --force --scope-id 0 --scope default`.
4. Out of core custom command to handle thi

[2016-04-13 06:43] nathan333 commented on #811
I don't mind its up to you. I will just continue to use the older version. I only need it for the next couple of weeks

[2016-04-13 07:19] ktomk commented on #811
To not lock anybody out I then suggest the variant with the `--force` switch to allow 0 for scope stores and websites.

For a mitigation of `--all` we could even use the path constraint *only* so to ignore scope and scope-id completely with `--force`. Then it would do "as announced".

@rjocoleman: If you could create a PR would be great.

[2016-04-13 08:34] tkn98 commented on #812
@ssachtleben: Did the suggestions help? Do you know about a reliable dump where we could host some larger files?

[2016-04-13 09:20] rjocoleman commented on #811
@ktomk I've sent a new PR over at #815, I've got a couple of notes about the implementation there.

I don't see a way to do this, please let me know if I'm missing it! I've gone with a different solution.

https://github.com/OpenMage/magento-mirror/blob/magento-1.9/app/code/core/Mage/Core/Model/Config.php#L1546-L1560

[2016-04-13 09:49] ktomk commented on #811
@rjocoleman: That was just for added benefit, if it's not straight forward, not an option for this patch. What you did is fine!

[2016-04-13 10:48] eriksenonline commented on #811
@tkn98

This is what I have done before to change the admin url when I update the database on my dev servers. So if I am not to use scope ID of 0 how do I update the admin custom URL? You have to make a new command for this?

n98-magerun.phar config:set -n --scope="stores" --scope-id="0" web/unsecure/base_url http://admin.domain.dev/
/n98-magerun.phar config:set -n --scope="stores" --scope-id="0"

[2016-04-13 11:06] rjocoleman commented on #811
@eriksenonline

`scope=default` and `scope-id=0` is un-effected. That's a valid and standard combination.

`scope=stores` (or `websites`) and `scope-id=0` are non-standard and now caught by the validation.

[2016-04-13 11:06] kesonno commented on #809
@tkn98 `phar.readonly=0` does not solved, I'll try with the source asap.

[2016-04-13 11:42] eriksenonline commented on #811
This line n98-magerun.phar config:set -n --scope="default" --scope-id="0" admin/url/custom http://admin.domain.dev/ vorks fine.

But Without changing theese lines allso
n98-magerun.phar config:set -n --scope="stores" --scope-id="0" web/unsecure/base_url http://admin.domain.dev/
/n98-magerun.phar config:set -n --scope="stores" --scope-id="0" web/secure/base_url https://admin.domain.dev/
The admin i

[2016-04-13 11:48] ktomk commented on #809
Yes, please give it a try. I don't have zend debugger here to check this in more detail on my own.

[2016-04-13 11:55] ktomk commented on #811
@eriksenonline:_Config was chaned recently. The non-standard usage will become working again with the new `--force` flag. I didn't think it's that common. The changes were introduced in 1.97.17. The resolution with `--force` flag is scheduled for 1.97.19.

[2016-04-13 11:55] rjocoleman commented on #811
e.g. in 1.97.19 `n98-magerun.phar config:set -n --scope="stores" --scope-id="0" --force web/secure/base_url https://admin.domain.dev/`

[2016-04-13 11:57] ktomk commented on #811
@eriksenonline: Just a short question in your case: Wouldn't it be possible to set the (un)secure/base_url entries for default scope to change them for the admin store?

[2016-04-13 12:31] ssachtleben commented on #812
@ktomk @tkn98 thanks, well I used the sourceforge cause the main download from magento directly is broken.

How to redownload only sample data? It fails and when I try to install magento again the folder already exists. Having a loop with on fail, delete folder and do again sounds not really nice ;)

Sorry no idea about download host.

[2016-04-13 12:41] tkn98 commented on #812
@ssachtleben: Good question. On Travis, the whole build system is re-created from scratch. So looks like you need a more stable download option ... :/

So perhaps first downloading packages to local system and repeating it as often as necessary, than having packages via `file://` protocol (we use composer internally and composer supports that). Just some quick idea.

[2016-04-13 13:37] #811 closed

[2016-04-13 13:44] ktomk commented on #811
1.97.19 has shipped, please update and try again with the --force flag. It now should work to your needs again.

[2016-04-14 06:29] ktomk commented on #812
Another Idea I have would be to retry the download if it fails. If this issue is regularly, it should be possible to test.

[2016-04-14 06:30] ktomk commented on #795
We now have exceptions if a config-file can not be parsed into an array.

[2016-04-14 06:30] #795 closed

[2016-04-14 11:39] ktomk commented on #812
@ssachtleben: Another option is for your recipe perhaps to integrate with [magedownload-cli](https://github.com/steverobbins/magedownload-cli) it operates with magento.com official downloads (and credentials) and integrates with magerun.

[2016-04-14 11:41] ktomk commented on #806
Tests in Magerun 1 still pending, there were some other PRs to process first.

[2016-04-14 11:43] ktomk commented on #776
@amenk: Can you provide reference when the option was added (related issue / PR)?

[2016-04-14 11:50] ktomk commented on #775
No furhter feedback / traction, closing for now until more feedback is available.

[2016-04-14 11:50] #775 closed

[2016-04-14 11:51] amenk commented on #776
It is already merged ... use git blame :D

[2016-04-14 11:57] ktomk commented on #776
Sure, but you probably better know what you've talked about than I do :)

[2016-04-14 12:02] amenk commented on #776
74db97457b8070e6cd91217c92db2716715e336d

[2016-04-14 12:04] ktomk commented on #776
So if that option isn't used, the problem is non-existent, correct?

Or is the problem immanent regardless?

[2016-04-14 12:31] amenk commented on #776
Only if the option is used...

I mean t he basic approach behind that was to create SQL dumps that are somehow easily diff-able .. but in practical use, most dumps are to big, to be diffed

[2016-04-14 13:25] ktomk commented on #776
Yeah, that's what I think as well. It's pretty limited, and for smaller dumps (where this could make sense), you normally don't need to care for a "slow" important (as it's fast enough). Ok to close for later?

[2016-04-14 13:30] ktomk commented on #774
@Flyingmana: Can you make a small suggestion / example how a usage could look like to magerun? I just reviewed this a little and I think the suggestion is worth to give it some more traction.

[2016-04-14 14:19] #776 closed

[2016-04-15 04:16] robbieaverill commented on #624
I wonder if there's a way that this issue could become a kind of "implement a Magerun package manager" request, perhaps if third party modules were logged at packagist.org and tagged as a magerun-module we could run list, install, remove, update commands etc. The composer wrapper is there already which would be a good start.

[2016-04-15 04:22] robbieaverill commented on #723
No traction/interest, and to be honest I don't think that's surprising. In the relatively rare occurrence that someone wants to jump directly into a Redis node for debugging, using the `redis-cli` to connect is fast and easy anyway. The benefits are outweighed by the work involved probably - closing...

[2016-04-15 04:22] #723 closed

[2016-04-15 04:25] robbieaverill commented on #4
I know this is old, but happy to help. Do you suggest those options being `db` and `files`? My understanding is that centralized session storage like Redis would use its own configuration tag, and the `session_save` tag would become redundant whatever it contained.

[2016-04-15 04:32] robbieaverill commented on #23
It's a shame that the `AbstractMagentoStoreConfigCommand` doesn't pass the input and output interfaces to the `_beforeSave()` and `_afterSave()` methods - if it did, implementing a warning and/or option to reset the IP would be added to the shell `TemplateHintsBlocksCommand` with relative ease.

[2016-04-15 05:33] ktomk commented on #23
@robbieaverill: You can use the IO helper for that:

    $output = $this->getHelper('io')->getOutput();

[2016-04-15 05:35] ktomk commented on #624
Very good idea with composer.

[2016-04-15 05:36] robbieaverill commented on #23
Great!

On Friday, 15 April 2016, Tom Klingenberg <notifications@github.com> wrote:

--
*Robbie Averill*
LA PETITE MANOUCHE - NZ Gypsy Jazz Guitar Duo
Phone: +64 27 321 4758
contact@lapetitemanouche.com
www.lapetitemanouche.com

[2016-04-17 20:17] ktomk commented on #23
Thanks to @robbieaverill this has been implemented.

[2016-04-17 20:17] #23 closed

[2016-04-17 20:35] robbieaverill commented on #133
Would this not be covered now by `sys:setup:change-version`?

[2016-04-17 20:42] robbieaverill commented on #271
This functionality was added in #23 - it could easily be extended to have its own command, as currently it's an extra process running after you change something like template hinting or inline translations.

[2016-04-17 20:47] ktomk commented on #133
Yes, it's possible to use `sys:setup:change-version` to rewind a modules version nowadays.

IIRC Magicento rewinds it to the previous one without specifically naming the version (and module as it detects it from context). It can do so because the setup script has both, the from-version and the to-version.

So for the main feature request: It's already implemented.

For more details, Magerun would

[2016-04-17 20:47] #133 closed

[2016-04-21 20:35] ktomk commented on #807
I have got more feedback on this one, and I have to take care not to only put in my personal taste. Even "we" normally use "magerun" as the short form for n98-magerun it now came to my attention that other choose to just use "n98" for it. Which makes perfect sense, it was just that this was against my own habit. Just leaving this as a note and a small reminder what can possibly go wrong by only us

[2016-04-24 03:24] kesonno commented on #809
Hi @ktomk I can confirm that using the source version magerun works without problems with Zend Debugger.

I can additionally confirm that the issue is related with an old version of Zend Debugger (like the mine) in conjunction with phar files, as described here: http://stackoverflow.com/questions/17616119/require-file-using-phar-stream-does-not-work-within-zendstudio (to verify I just ran composer

[2016-04-24 07:40] ktomk commented on #809
@kesonno: I closed it then. Can you say which version of Zend Debugger was flawed in your scenario?

[2016-04-24 07:40] #809 closed

[2016-04-24 07:45] kesonno commented on #809
@tkn98 my local version of Zend Debugger is v6.0.0, I've downloaded from Zend website more or less 2 year ago.

[2016-04-25 08:22] tkn98 commented on #806
Considering git repo for the shared folder, looks good so far. https://github.com/ingydotnet/git-subrepo

[2016-04-25 08:24] tkn98 commented on #812
@ssachtleben: Were you able to alleviate the problem? If so, please let me know how.

[2016-04-25 12:16] amenk commented on #806
Just make a composer module, pleaaaaaase .....

[2016-04-25 13:31] tkn98 commented on #806
We can't even say if it makes sense, so no, sorry, you won't please me into non-decisions at this point. As written, it's perfectly possible to do so in the future, but I don't see us at the point right now.

So if you were concerned about composer to this point, I'll close for now, we can re-open this.

Shared folder will touch master sometime soon (tm).

[2016-04-25 13:31] #806 closed

[2016-04-28 00:29] ktomk commented on #619
- Ref: https://github.com/composer/composer/commit/134ce134a2a0c8c6b2c3b0ece2192a535875d42b

[2016-05-05 15:33] brandontamm opened #819 "Install Magento Database"
I have a script that:

1. installs magerun
2. installs composer and then "github.com/magento-hackathon/magento-composer-installer" and downloads the magento app and copies local xml config
3. then installs sample data

I do not want sample data installed - I just want to start with a blank magento database. Is there a way for magerun to install just a blank database? I tried db:create but it just

[2016-05-05 15:38] ktomk commented on #819
@brandontamm: I do not understand how this relates to magerun.

[2016-05-05 16:05] ktomk commented on #819
Still not understanding your issue, but are you perhaps looking the `local-config:generate` command, @brandontamm?

[2016-05-05 16:19] brandontamm commented on #819
Hi - thank you for following up. I am coping the config XML so i don't need to recreate it, however, I guess my question becomes - Can i use magerun to create a blank database with magento enterprise structure?

[2016-05-05 16:29] ktomk commented on #819
Yes, create you own package for the enterprise version (magerun ships with CE packages only, but you can add you own) and run the `install` command. Maybe the `sys:setup:run` command already suffices in your scenario.

[2016-05-05 16:31] brandontamm commented on #819
I thought db:create and sys:setup:run would work - I initially tried that. Here is the error I got:
[Zend_Db_Statement_Exception]
  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento.core_website' doesn't exist, query was: SELECT `core_website`.`website_id`, `core_website`.`code`, `core_website`.`name` FROM `core_website`

I assumed this was because there is no database structure

[2016-05-05 16:32] ktomk commented on #819
Yeah, that's the case. You need to run the `install` command then. Please check the available switches, IIRC you should be able to skip downloading.

[2016-05-05 16:47] brandontamm commented on #819
We're getting close.. I manually ran the following command:
./magento magerun install --noDownload --dbHost="mysql" --dbUser="root" --dbPass="pw" --dbName="magento" --installSampleData=no --useDefaultConfigParams=yes  --installationFolder="./" --baseUrl="http://magento.dev/"

I got the following [InvalidArgumentException]:
Magento working copy in /var/www/html/web seems already installed. Please r

[2016-05-05 16:53] ktomk commented on #819
I now remember that I personally have experienced ca. 1.5 years ago when starting with Magerun, It's whenever you initialize the shop with an empty database. The exception stands clearly in the way here because Magento should do the first setup on it's own if the installed timestamp is not within the local.xml (if I remember that correclty, I think that's the final decision point).

The exception

[2016-05-05 16:59] brandontamm commented on #819
The workaround that I mentioned above - would the timestamp still be an issue? If so, is there any way around it? I know this is something i should know :-x

[2016-05-05 17:04] ktomk commented on #819
I have to correct mysql: Just don't place the local.xml file into the magento directory *before* you run the `install`  command (with the `--noDownload` switch). It then should work. The *install* command will then create the local.xml file with the database credentials so that the initial database-setup should work.

You can then replace it later with your local.xml. The folder then can exist ear

[2016-05-05 17:10] brandontamm commented on #819
Ok - possibly one more issue - the script actually copies the local.xml. Here is the pertinent part of the script in sequence:

echo "Starting with blank database"
magerun install --noDownload --dbHost="$MYSQL_HOST" --dbUser="$MYSQL_USER" --dbPass="$MYSQL_PASSWORD" --dbName="$MYSQL_DATABASE" --installSampleData="no" --useDefaultConfigParams="yes"  --installationFolder="./" --baseUrl="http://$DOMAI

[2016-05-05 17:16] ktomk commented on #819
In that order it should work. The *install* command only errors if *app/etc/local.xml* already exists, you script suggestion copies it *after* the command so this should be fine.

[2016-05-05 18:50] brandontamm commented on #819
Almost there - I got
installer_1      |   [InvalidArgumentException]
installer_1      |   Folder / is not a Magento working copy.

[2016-05-05 19:02] brandontamm commented on #819
I used --installationFolder="./"

The file path should be correct - is this a file path issue or is the magerun installer looking for files in that directory and not seeing it?

[2016-05-05 19:03] ktomk commented on #819
Hmm, on quick look this might be that  --installationFolder="./" has no good support for such a relative path (`./`). I have to take a look in the code, this is fishy.

[2016-05-05 19:19] ktomk commented on #819
Internally this looks pretty complicated which could explain the flaw. I could at least spot one place in the code that suggests not to use relative paths, so if you can resolve the path in your script you're most likely suited best (see the `realpath` command, or `cd` into that directory and use `pwd -P`). Should be manageable if you have a shell script there.

I have one idea to get better suppo

[2016-05-05 19:34] ktomk commented on #819
Hmm, for me I can't reproduce your issue. --installationFolder="./" works fine when I execute magerun within that directory, so I can't check into which issue you run with the last exception @brandontamm.

Please double-check the magerun version you use.

[2016-05-05 19:44] brandontamm commented on #819
This is the command I use in the script to download magerun - i think it should be the latest version:
RUN curl -o magerun https://raw.githubusercontent.com/netz98/n98-magerun/master/n98-magerun.phar

[2016-05-05 19:51] brandontamm commented on #819
Let's assume it's not a path issue....could the "Folder / is not a Magento working copy." be coming because it is checking for a file and not seeing the file in the directory?
Line 484: https://github.com/netz98/n98-magerun/blob/5cd2370b92fc90388bf3880458b528161b271bad/src/N98/Magento/Command/AbstractMagentoCommand.php

Line 163: https://github.com/netz98/n98-magerun/blob/master/src/N98/Magento/Co

[2016-05-05 20:07] ktomk commented on #819
@brandontamm The command you use to download magerun is outdated and is effectively downloading an outdated version (1.96.1). Switch to the current download URL instead:

    curl -o magerun https://files.magerun.net/n98-magerun.phar

This gives right now version 1.97.19 (!).

[2016-05-05 20:25] brandontamm commented on #819
I swapped the download link to use the new version - still getting the same error. Maybe not a path issue? Ideas?

[2016-05-05 20:37] ktomk commented on #819
If I could reproduce it here I can debug the issue. Maybe you can share some more context so that I can reproduce?

[2016-05-05 20:55] brandontamm commented on #819
Have you used docker before? I can share the repo and you can literally spin up the exact environment if you're comfortable with Docker

[2016-05-06 04:04] ktomk commented on #819
I have docker installed, this sounds like a plan.

[2016-05-06 13:52] brandontamm commented on #819
Let me know if questions pop up along the way :)
https://github.com/brandontamm/magento

[2016-05-06 14:02] brandontamm commented on #819
Here is a helpful command to rebuild the installer - I've been doing a lot of that!
cd ~/sites/magento && docker-compose stop && rm -r web vendor data/mysql && docker ps -a && docker images -a

[2016-05-06 20:08] ktomk commented on #819
Hmm, rebuilding the installer does not seem to work with that chain of commands. Also the install.sh scrip should exit immediately on a non-zero status of one of it's commands. Many things can go wrong but right now it continues as if everything would have worked.

[2016-05-06 20:14] brandontamm commented on #819
sorry - that will give you the list of containers and images:
'docker rm XXX' removes the magento_installer_1 container and
'docker rmi XXX' removes the magento_installer_1 image

that will rebuild the installer - substitute the XXX with the image and container id hash

[2016-05-06 21:30] ktomk commented on #819
@brandontamm: One gap: You can't call `db:create` while magento is not yet installed. The database credentials are taken from the *local.xml* file for that command. In our own setups (travis, local), the bash scripts are using the mysql command-line client.

- Ref: https://github.com/netz98/n98-magerun/blob/580cc2357d951f9dd8e39e54a9e914ac61980598/build/local/test_setup.sh#L55

[2016-05-06 23:12] ktomk commented on #819
@brandontamm: Is there a way to not throw away the whole image to rebuild it? I normally only need to replace install.sh with a new version.

[2016-05-07 20:28] ktomk commented on #819
@brandontamm: I find the use of docker frustrating and massively standing in the way to trouble-shoot the issue you experience. I also do not understand which problem with the upstream project https://github.com/andreaskoch/dockerized-magento you're trying to solve. There might be some issues with magerun in that setup however these issues are not easily reproduced and to debug in the container in

[2016-05-07 20:29] ktomk commented on #819
Also if I understand docker right, you should create a magento container with it already installed. So the magento/magerun setup should be part of the dockerfile creation, shouldn't it?

[2016-05-07 23:51] ktomk commented on #819
My earlier comment about creating the database before running the installer is actually not necessary. The install command will  create the database if it does not yet exists. I also pushed some smaller changes into the development branch of magerun to add some more comfort while debugging. Setup runs fine on my ends.

[2016-05-07 23:51] #819 closed

[2016-05-08 00:03] ktomk commented on #819
@brandontamm: You can review the changes I made to get it into a working state here: https://github.com/ktomk/magento/commit/33598d2d93d48593a98c33487aebce3c5afcbd0e#diff-c18fd6a4b0fab8e7cd459aa09081d0bc - It's merely only waiting for the mysql container to be up and running for accepting connections.

[2016-05-09 14:33] IdahoPL opened #820 "PHP7 incompatibility"
Problem which was fixed here: https://github.com/netz98/n98-magerun/issues/691

still exists:

$ php -v
PHP 7.0.6 (cli) (built: May  6 2016 10:47:03) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies

$ git clone https://github.com/netz98/n98-magerun.git
Cloning into 'n98-magerun'...
remote: Counting objects: 15797, done.
remote: Compressin

[2016-05-09 15:37] tkn98 commented on #820
Try ./build.sh first. Afterwards you don't have the outdated n98-magerun.phar any longer ;)

[2016-05-09 15:47] #820 closed

[2016-05-11 10:01] kevingimbel commented on #807
Just wanting to let you know we at out office usually also use "magerun" when talking about it and only one developer uses it as `n98-magerun.phar` instead of aliasing it to `magerun`. Since the "brand" is Magerun renaming the script would be a good idea IMO.

[2016-05-11 11:04] cmuench commented on #807
We don't like to rename the phar file.
It's possible (since years) to rename the phar file (https://github.com/netz98/n98-magerun#download-and-install-phar-file).

[2016-05-11 11:04] #807 closed

[2016-05-12 05:43] benjamw opened #821 "`dev:template-hints` and `dev:template-hints-blocks` not working in current scope"
When I manually edit the Template Hints settings in the Admin area of Magento, I use the "Main Website" scope to set or unset those values. This works perfectly.

When I use magerun to set or unset those values. It never works. I assumed that because I had previously set the values in the website scope that the new values in store scope would not work. But when I removed the website scope entries

[2016-05-13 06:52] tkn98 commented on #821
@benjamw: Thanks for the report. I have not yet verified it, but IIRC there are some annoyances like you describe them as I think I've been running over them in the past.

Can you with your report show those flags via `config:get`? This could shed some light about in which scope these are set. This should also help to find a good solution for your problem.

[2016-05-13 18:08] benjamw commented on #821
I'm not entirely convinced it's an issue with magerun. I'm continually having weird cache issues where my installation will alert me about messages that I deleted and show pages that are old. Even after I clear the cache.

But to answer your question:
After turning the hints on via magerun
[code]
and after turning them off
[code]

[2016-05-13 18:54] adamj88 opened #822 "Install with --noDownload and --forceUseDb"
I'm running the following command on version 1.97.21:

[code]

I have an existing, empty database in place with no `app/etc/local.xml` file present. This command fails with the following:

[code]

This is contrary to the `forceUseDb` documentation which says:

If I delete the whole database and run the command it succeeds.

[2016-05-14 07:45] ktomk commented on #822
@adamj88: Can you please report your magerun version? We had some recent changes in that area and I want to check if there is still something to fix or we event introduced a new annoyance. If you're not yet running on the latest version, please upgrade to it and try if it already solves your issue.

[2016-05-14 08:11] ktomk commented on #821
Hmm, config settings look correct. If cleaning cache does not work so well, check the file permissions on the cache folders. Sometimes it happens that files or directories are create with wrong or insufficient rights to get rid of them later.

[2016-05-14 09:30] adamj88 commented on #822
@ktomk: It's occurring on v1.97.21, I ran `self-update` before reporting the issue to verify it was happening on the latest version.

[2016-05-14 19:41] ktomk commented on #822
@adamj88: I could now reporduce your issue and I have done a fix in the development version. Please switch to it with `self-update --unstable` and try your command again. It should then work as expected, but please check on your own and give back feedback.

[2016-05-14 20:35] adamj88 commented on #822
@ktomk: It's progressing further than before but I'm getting a RuntimeException being thrown:

[code]

PHP v5.5.26

[2016-05-14 21:04] ktomk commented on #822
@adamj88: Fine, then the first annoyance is fixed. For the RuntimeException: The command-line command fails with a non-zero status / exit code. What happens if you run that exact command manually? And can you obtain the status code? I also update the development version again to also show the exact status-code and the command itself.

[2016-05-14 21:34] adamj88 commented on #822
@ktomk: I'm getting:

[code]

Manually running the command which is output by the cli exits with the sample data installed and creates the `app/etc/local.xml` file.

[2016-05-15 03:50] ktomk commented on #822
That's an error when install.php is invoked. Normally 255 is a parse error or some other fatal error. Please check if install.php is in order and try to trouble.shoot this by executing the command by hand. You can add more settings like display_errors via the command line like:

    /bin/php -ddisplay_errors=1 -derror_reporting=-1 -f 'install.php' -- --license_agreement_accepted 'yes' --locale 'en

[2016-05-15 06:30] ktomk commented on #822
@adamj88: Any when you manually run the command, can you tell which exit status the command has (`echo $?`)?

[2016-05-15 10:34] amenk commented on #4
db and files would be fine for the beginning. I do not understand your comment about redis - do you mean that more config is needed for redis?

[2016-05-15 10:36] amenk commented on #770
I did not think to much about the *how* yet. In --optimize it would be easy. When not using --optimize, adding a pre-processing wouldn't be nice. Maybe the SQL could be piped through magerun again and checked.

[2016-05-15 10:46] ktomk commented on #770
@amenk I have problems to figure out how an out come would looks like and behave. Can you create a working example?

[2016-05-15 10:49] amenk commented on #770
Maybe we could add `--one-database` to the mysql command - but this would not show a warning.

http://stackoverflow.com/questions/37237310/show-a-warning-during-import-when-mysql-dump-contains-use

[2016-05-15 10:52] amenk commented on #770
Actually a more useful feature would be to rewrite the use commands to the current database, right?

http://serverfault.com/a/425988/48782

[2016-05-15 10:53] amenk commented on #806
is it already in master? How can I use it?

[2016-05-15 11:45] ktomk commented on #770
@amenk: When is it actually the case that there is a use statement within the dump. From what I know that does not come out of nothing and must be placed there purposefully. Not that this requirement is entirely theoretical. What's your context for this feature request? Did you broke a database by using a wrong dump and import command sequence? If so, how did this happen.

[2016-05-15 13:10] ktomk commented on #822
@adamj88: I've once again updated the development version. As it seems it's not easily reproducible by entering the command manually I've added  the PHP error settings to the install command invocation. this now should really shed some more light ;)

[2016-05-15 15:53] adamj88 commented on #822
@ktomk: It appears to be a problem with a module, it's giving me more detail now. I removed the module temporarily and it's now working fine.

Thanks for troubleshooting this so quickly :)

[2016-05-15 15:53] #822 closed

[2016-05-15 16:21] ktomk commented on #822
@adamj88: Did it gave more details to you because of the php-ini-settings I added? Would you consider it useful to keep these flags in?

[2016-05-15 21:18] robbieaverill commented on #4
@amenk yeah - at least for older versions of Magento. `db` and `files` seems a sensible place to start!

[2016-05-16 07:39] adamj88 commented on #822
@ktomk: Yea, it gave more useful output to debug what was going on in this instance, maybe worth keeping those flags in for the development copy at least.

[2016-05-16 09:25] ktomk commented on #822
@adamj88: Develop version will become the next stable version, which is why I'm asking. I think I'll add these on debug verbosity (`-vvv`). So in future `-vvv` will shed more light. Also the return code will be visible in all circumstances.

Now if you could share how I could produce a similar error on my end then I could easily test this. Maybe you're willing to share some details so I can break

[2016-05-16 10:17] adamj88 commented on #822
@ktomk: I was having a problem with a class not being found in a module, so on the install command it was throwing the following:

[code]

I think you'll be able to replicate it by deleting a helper from a module.

[2016-05-16 15:16] ktomk commented on #822
@adamj88: Ah that's useful to know. So scenario is to use `--noDownload --forceUseDb` to operate on  a shop-project (as usual :)), makes total sense. But running into a fatal error due to an autoloader problem. I see. I think we can keep the setting in, always, as warnings and notices won't stop the installation and are most likely interesting so see anyway for a developer.

Thanks for your detail

[2016-05-16 16:44] st-bobb opened #823 "Create Multiple Customers Combining Script with customer:create"
Probably more of a feature request.
Is it possible or should I write something else myself?
Can we pass in responses to the prompt using script?

[2016-05-16 20:28] ktomk commented on #823
@st-bobb: Can you provide an example what you're looking for? Pseudo code or similar is fine. Technically most likely everything is possible somehow, would be better if you make this a bit more concrete so that some better directions can be given.

[2016-05-16 20:38] adamj88 opened #824 "FR: Install Command - Separate Sample Data task"
Currently the flag `--noDownload` on the `n98-magerun:install` command prevents both the Magento sample data and the full core installation from being downloaded. The code responsible for this here is: https://github.com/netz98/n98-magerun/blob/master/src/N98/Magento/Command/Installer/InstallCommand.php#L159-L181

My use case is that I was looking to install sample data to a pre-installed copy of

[2016-05-17 04:59] ktomk commented on #824
@adamj88: Looks like it is returning too early. If the understanding is that sample data always requires a download, having the sample data switch with yes and the no download switch one must override the other.

What do you think about adding a new  command named `sample-data:install`which only invokes the existing routines to install the sample-data?

[2016-05-17 06:46] amenk commented on #770
When this came to my mind, I had a database which was exported with `use` statements and  the import did not seem to work properly (cause it was imported to another database)

[2016-05-17 08:33] adamj88 commented on #824
@ktomk: that would be perfect given the `noDownload` flag implies no download takes place at all, this way it wouldn't cause a BC break.

[2016-05-17 10:55] ToonSpinISAAC commented on #820
Even after doing this:

    wget https://files.magerun.net/n98-magerun.phar
    chmod +x ./n98-magerun.phar
    ./n98-magerun.phar

I get the error with PHP 7. Am I doing something wrong?

[2016-05-17 12:29] tkn98 commented on #820
@ToonSpinISAAC: Please try  the `./n98-magerun.phar -vvv --version` command and paste command line and output here.

[2016-05-17 12:34] ToonSpinISAAC commented on #820
If I do this:

    ./n98-magerun.phar -vvv --version

I get:

    PHP Fatal error:  Cannot use N98\Util\String as String because 'String' is a special class name in phar:///home/toon/Downloads/n98-magerun.phar/src/N98/Magento/Application.php on line 11

I just downloaded and tried it again to be sure, with the commands I used in my previous comment.

[2016-05-17 12:38] tkn98 commented on #820
@ToonSpinISAAC: Again? Then the command should be `n98-magerun.phar.1` unless you enable the no-clobber option of wget. Please provide the MD5 sum of the phar file.

[2016-05-17 12:42] ToonSpinISAAC commented on #820
When I used PHP 5 to run `./n98-magerun.phar -vvv --version` I noticed that it was running some kind of 1.96 version, so I deleted the PHAR, ran the wget command again and then it worked.

I wasn't aware of wget's behavior in the case that the file existed. PEBKAC in this case, I guess, sorry!

[2016-05-17 12:43] tkn98 commented on #820
@ToonSpinISAAC: No worries, next time when in doubt just check checksums with the download site, we got some there :)

[2016-05-17 12:45] ToonSpinISAAC commented on #820
Will do, @tkn98. And thanks for n98-magerun, it's an important tool for us and many other Magento developers!

[2016-05-17 12:45] tkn98 commented on #820
And a reminder for me that we should really replace that file with a stub that shows a message how to obtain it. Esp. as PHP 7 now is more and more widely used. Thanks for reporting @ToonSpinISAAC !

[2016-05-17 16:47] ktomk commented on #770
Magerun just wraps the mysql call here. It's more or less for convenience, if the dump is bad, well that's bad. I don't see we can easily check this and make this interactive.

[2016-05-18 06:56] amenk commented on #770
We could add this `sed` line: http://stackoverflow.com/a/37240258/288568 (the good thing is, that we already depend on `sed`

[2016-05-18 15:36] ktomk commented on #770
I'm not so sure it's really portable nor if it works with the current one. But please create a PR then we can better say.

[2016-05-19 23:08] nbennett25 opened #826 "Specify target location of setup:backup"
Feature request: allow user to specify target directory for setup:backup to write to instead of var/backup:

`./n98-magerun.phar setup:upgrade --target-location ~/Desktop`

[2016-05-20 07:32] amenk opened #827 "Allow putting n98-magerun.yaml in the project root"
It is possible to put a project config in app/etc

https://github.com/netz98/n98-magerun/wiki/Config#project-config

Just to have this config easier accessible and have the possibility to have it in the same place in magerun2 I would suggest to additionally allow placing the project config into the root directory of the project (same folder like the .n98-magerun).

What do you think?

Do you see p

[2016-05-23 22:24] ktomk commented on #827
In Magento 1 that folder is the webroot, would be a bit too easily accessible :)

[2016-05-23 22:26] ktomk commented on #826
I would prefer to name the option `--backup-folder`. Can you imagine to create a pull-request for this?

[2016-05-25 03:28] keithbmcd opened #828 "db:import failed"

[2016-05-25 03:29] keithbmcd commented on #828
I was trying to import a db, but it does not work

sh-3.2# n98-magerun.phar db:import ../../tmp/magento-staging.sql

It's not recommended to run n98-magerun as root user

"app/etc/local.xml"-file '/app/etc/local.xml' is not readable

  [RuntimeException]
  Failed to load database settings from config file

  [InvalidArgumentException]
  "app/etc/local.xml"-file '/app/etc/local.xml' is not readable

[2016-05-25 17:04] ktomk commented on #828
Can you please report back the following information:

* `n98-magerun.phar --version` (magerun version in question)
* `pwd -P` (the working directory)

Additionally please provide the full path of your `app/etc/local.xml` config file.

[2016-05-30 07:57] tkn98 commented on #827
@amenk: Just getting the info that the feature is already implemented if you make use of the stopfile. Can you please try this and report back if not?

[2016-06-06 02:55] hmphu commented on #420
hi @pocallaghan, this `theme:create` command will be very useful. Hope that you can add it quick ;)

[2016-06-10 07:36] sprankhub commented on #458
I can confirm that this works if you run magerun with:

    php -d apc.enable_cli=0 n98-magerun.phar

Thanks @cmuench!

[2016-06-10 14:02] Insect2015 opened #830 "PHP7"
Hello Support,

it's also working on PHP7 Magento version 1.9.2.1 👍

[2016-06-10 14:49] danemacmillan opened #831 "Upgraded to 1.9.2.4 and n98-magerun won't run because it thinks this is Magento2"
Indexes didn't run last night. Investigation reveals that they did not run because `magerun` thinks the installation is a Magento2 instance. It is Magento `1.9.2.4`. Why is it thinking this?

n98-magerun version: `1.94.0`

This is the output when trying to run any command:
[code]

[2016-06-10 15:27] ktomk commented on #831
You can try with the `-vvv`switch  for more verbose output which might reveal some details (shown as well in `--help`).

Next to that please also try with the latest Magerun version if it also shows the same behaviour.

[2016-06-10 15:29] ktomk commented on #830
But Magento version 1.9.2.1 does not support PHP7 - or wait, does it?

[2016-06-10 15:30] danemacmillan commented on #831
The output is the same, with the exception that it's preceded by a few directory paths--none of which reveal anything important.

Downloading the `phar` directly and running it does get rid of the compatibility problem. Downloading it directly is not part of the build, though. It'll do for now, or at least until we can upgrade.

[2016-06-10 15:41] Insect2015 commented on #830
Hello Ktomk,

I use Inchoo_PHP7 and it's works perfect 👍

[2016-06-10 15:59] ktomk commented on #831
Makes sense, 1.94.0 is pretty outdated though. I strongly recommend switching to a newer version. I would close this issue for now unless you still have some questions or objections against it.

[2016-06-10 16:03] ktomk commented on #830
Okay, well, so the standard situation. We do test the code on PHP 7 in the travis build. So you should be covered.

[2016-06-10 16:03] #830 closed

[2016-06-14 14:37] octoxan opened #832 "No longer lets you install due to Magento taking down url's"
Can no longer use this to install Magento thanks to Magento killing all  the download  URLs.

[2016-06-14 22:00] ktomk commented on #832
Please use the mirrors.

[2016-06-14 22:02] octoxan commented on #832
How? Am I missing something in the documentation?

[2016-06-14 22:08] ktomk commented on #832
They are in the list of packages to install.

[2016-06-15 07:35] tkn98 commented on #832
@octoxan: If you call the *`install`* command without any other parameters you should be asked which package to install presenting a list of ca. 28 packages, choose one with *`-mirror`* in the name like *`magento-mirror-1.9.2.4`*.

Does this solve your issue?

[2016-06-21 15:54] amenk opened #833 "local-config:generate: Ask for DB data, but not for session save and so on"
How can I call the command in a way to ask for the DB data, but not for the rest

     n98-magerun.phar local-config:generate "" "" "" "" files admin fookey

does not work (inserts empty data).

[2016-06-23 20:26] octoxan commented on #832
Yes it does! Thank you very much. Sorry I must have missed that part of the documentation.

[2016-06-28 10:22] tkn98 commented on #832
Case closed.

[2016-06-28 10:22] #832 closed

[2016-07-03 23:59] robbieaverill opened #836 "db:dump: @development should strip the email queue"
Presently it doesn't strip the `core_email_queue` tables, it should so that we don't end up with real customer email data in development environments.

[2016-07-05 19:02] ktomk commented on #836
@robbieaverill: Thanks for this PR, I merged it into the development version, please give it a try.

[2016-07-08 01:28] robbieaverill commented on #836
Tests:

[code]

Pass

[code]

Pass (tables omitted from output for length).

[2016-07-08 01:28] #836 closed

[2016-07-08 01:28] robbieaverill commented on #836
Thanks @ktomk

[2016-07-11 09:26] tkn98 commented on #831
Outdated version was used, current stable does not have this issue.

[2016-07-11 09:26] #831 closed

[2016-07-11 22:03] ktomk commented on #828
No traction for quite some time, closing.

[2016-07-11 22:03] #828 closed

[2016-07-11 22:05] ktomk commented on #827
No feedback provided, closing.

[2016-07-11 22:05] #827 closed

[2016-07-11 22:19] ktomk commented on #826
Which command do you exactly related to? Is that command from n98-magerun or by a Magerun extension?

[2016-07-11 22:19] #826 closed

[2016-07-11 22:21] ktomk commented on #823
No traction.

[2016-07-11 22:21] #823 closed

[2016-07-12 12:25] amenk commented on #494
What is the status of the git subtree sync we talked about last time we met?

[2016-07-12 14:36] tkn98 commented on #494
It's in the making. I don't yet know if we can meet tonight again, but if so I'll bring the notebook with me. It's also possible that I can push something, I did some work on this the last days.

[2016-07-12 15:00] amenk commented on #494
cool, see you there

[2016-07-13 08:36] bassamjarad opened #839 "Feature: Dump System.xml just like global config file"
Hi,

Is it possible to add a command to dump system.xml config file just like you do with the global Magento config file. Please check this code:

$systemxml = Mage::getConfig()->loadModulesConfiguration('system.xml')->getNode()->asXML();

[2016-07-13 10:41] NgocTien01542 opened #840 "n98-magerun.phar not working on mac os x 10.11"
Hi Guys,
  I just use to this command on my magento folder: php n98-magerun.phar
  but it only show "?".
  it's magento 1 and n98-magerun.phar latest version
![n98-magerun](https://cloud.githubusercontent.com/assets/5461972/16800760/13b597b6-4921-11e6-8ab9-4e245e696862.jpg)

[2016-07-13 11:58] tkn98 commented on #840
I can only guess, I think this is related to unicode settings. Please see report #706 and check your PHP configuration on the multibyte / encoding settings.

Also please verify the checksum of the phar file.

Then please report back.

[2016-07-13 12:03] tkn98 commented on #839
Do you mean an XML dump of the file? In a pretty print fashion?

[2016-07-13 18:03] bassamjarad commented on #839
Yes. Exactly. Just like the global config.xml file

[2016-07-14 07:39] NgocTien01542 commented on #840
Thank tkn98

 I found the problem with encoding setting
 must be: detect_unicode=Off

[2016-07-14 07:39] #840 closed

[2016-07-14 08:05] giuseppemorelli commented on #254
Hi guys,
about this issue: I create an addon to create dummy products.
It's in beta and tested as I can, but it works fine in dev environment.

https://github.com/gmdotnet/GMdotnet_MagerunAddons

Maybe can help you

[2016-07-14 15:07] dermatz opened #841 "config.yaml - magento 1.x.x.x source moved permanently"
The Magento Zip was moved permanently.
The magerun command `install` was'nt able to download the files.

See config.yaml:179

[2016-07-14 15:25] ktomk commented on #841
Yes those are URLs like:

- http://www.magentocommerce.com/downloads/assets/1.9.2.1/magento-1.9.2.3.zip (magento-ce-1.9.2.4)

These do not work since longer, maybe it's useful to remove them. Use the mirror instead:

- https://github.com/OpenMage/magento-mirror/archive/1.9.2.4.zip (magento-mirror-1.9.2.4)

Also just seeing by that listing, the number in the file would have even been wrong :).

The

[2016-07-14 15:57] #841 closed

[2016-07-17 10:40] shineability opened #842 "Magerun not throwing Exceptions or triggering errors"
I am working on a magerun command, but it seems that errors are not triggered. E.g.

[code]

If I misspell detectMagento and run the command, it does nothing, I would expect an Exception to be thrown or some other error triggered... There's also nothing in the logs.

What am I missing here?

[2016-07-17 11:14] cmuench commented on #842
I cannot reproduce your behavior. Can you please give me some details about your PHP error settings?

[2016-07-17 12:40] shineability commented on #842
@cmuench I'm using MAMP Pro and apparently the php.ini is different when using the command line. Setting `display_errors = On` did the trick! Sorry for the noise, should have figured that out myself ;)

[2016-07-17 12:44] cmuench commented on #842
@shineability No problem. Someday this issue can help other MAMP Pro users.

[2016-07-17 12:44] #842 closed

[2016-07-26 03:05] rafaelstz opened #843 "Add Magento 2.0.8"
Add Magento 2.0.8 into `magerun2 install` command.

**Releases**
https://github.com/magento/magento2/releases

[2016-07-26 19:45] ktomk commented on #843
@rafaelstz: Thanks for the hint, but please request in Magerun 2 :) - https://github.com/netz98/n98-magerun2/issues/

[2016-07-26 19:45] #843 closed

[2016-07-29 19:10] orrd commented on #490
For MySQL >= 5.6, a good solution may be to use mysql_config_editor to set a "login-path" that stores the password in an encrypted form in the user's home directory.

http://stackoverflow.com/questions/20751352/suppress-warning-messages-using-mysql-from-within-terminal-but-password-written

[2016-07-30 10:43] amenk opened #846 "Configure shell commands, like mysqldump"
I have a host where I have to use mysqldump5 (for accessing mysql 5) instead of mysqldump. Would be cool, if the shell names can be passed or configured.

Is there a workaround?
What do you think?

[2016-07-30 11:04] amenk commented on #846
We call several commands

* mysql
* mysqldump
* gzip
* pv
* tar

I think we should make them configurable using the config files like

CommandAlias
  mysqldump: mysqldump5

[2016-07-31 08:18] ktomk commented on #846
You should be able to do this via an alias. You system should ship with all configuration options needed for this.

[2016-08-01 14:15] richardklint opened #847 "db:dump - Cannot exclude non-prefixed tables"
When performing a db:dump using magerun, I've noticed it is impossible to strip non-magento-prefixed tables. For example, if the Magento prefix is "mage", then I wouldn't be able to strip a table such as "test_table" since magerun automatically appends the prefix to the stripped tables, it would actually strip "mage_test_table" and that's not right.

Perhaps a better way is to add another option t

[2016-08-01 15:00] tkn98 commented on #847
Hmm, sounds like you even found a bug, as we should not export any of the non-prefixed tables at all. Otherwise the prefix makes no sense, doesn't it?

[2016-08-01 15:07] alphab0t commented on #847
Yeah, makes sense Tom. I noticed this the other day with a new client I'm working on where they have all the magento tables prefixed with "mage" and have a few (rather large) tables for their inventory management system outside of Magento so I would like to exclude those but found no way to do so, resulting in larger than usual db dumps.

[2016-08-01 23:16] ktomk commented on #839
I like the idea. From time to time I missed it but on the other hand I do not clearly remember how much.

For the XML files it might be important as well to show which ones are in effect.

[2016-08-02 06:28] ktomk commented on #494
Yesterday evening the shared folder touched both Magerun repositories in their development branch. Right now the shared repo is taken in relatively, you can find a copy of it online here:

- https://github.com/ktomk/mr-shared

Shared code is relatively stable and I already have a small TODO what to do next so far:

- Add a README.md to the repository
- Add a travis build for the shared repo  (e.g.

[2016-08-02 07:04] sprankhub commented on #775
I also have this issue using Redis and Lesti_Fpc. The cache is not fully flushed by the `cache:flush` command. I opened a [Lesti_Fpc issue](https://github.com/GordonLesti/Lesti_Fpc/issues/250) now and hope that we come up with a solution together.
If you need any more input, please let me know.

[2016-08-02 11:54] amenk commented on #846
the point is that `mysqldump5` is already an alias which I want to use.

[2016-08-02 18:22] ktomk commented on #846
Just learning, it's not that straight forward. Can you check which shell is used by your PHP version?

    $ php -r 'echo shell_exec("echo $0");'

In my case it is *sh* but I needed *bash*.

Most likely your alias won't work with the suggestion. You could perhaps eval with `--only-command` perhaps.

[2016-08-03 07:09] amenk commented on #846
`sh` for me as well - acutally my host is switching from mysqldump5 to mysqldump  - so not high prio for me any more. But still it would be good to be able to configure the commands used in Magerun - not in the shell. Currently `mysqldump` is just hardcoded - is not a problem to make it configurable and thus magerun more compatible. On the other hand I don't know if anybody hat this problem yet.

[2016-08-03 09:25] tkn98 commented on #846
Well in your concrete case, it would have not helped you because there would have been no alias then when magerun exec'utes the (aliased) command.

Perhaps switching to the *Process* component helps here. Another ticket should exist for it, at least for review.

[2016-08-03 11:14] Mic2005 commented on #775
@hans2103 is this the same issue that we see in our production enviroment? You must use the command 2, 3 times to flush the cache 100% via magerun?

[2016-08-11 19:13] fbrnc opened #850 "Don't flush the cache during 'sys:setup:run'"
Before executing `sys:setup:run` n98-magerun flushes the entire cache (see https://github.com/netz98/n98-magerun/blob/master/src/N98/Magento/Command/System/Setup/RunCommand.php#L48)

This is critial since it has a major impact on the infrastructure, especially while your rolling out a new deployment. On top of that we typically use customized cache prefixes (configured in local.xml) to 'namespace'

[2016-08-11 20:05] ktomk commented on #850
Good question. The change is back from 2012 and I didn't do it so I personally can't say without further study.

Yes, changing from flush to clean command.

Maybe also an option.

---
Perhaps this is a left-over. The addition of the flush command is pretty old. Later on there was a fix on initializing the (Magento) application (`$this->initMagento()`).

I must admit from top of my head I can't say

[2016-08-12 06:36] seansan commented on #754
Until it happens again. We haven't had this for months and then suddenly this morning again. Same set-up as your description

[2016-08-12 07:54] fbrnc commented on #850
Wow, thanks a lot for this quick respone and for digging into this. If really anything needs to be done before running the scripts switching from `flush` to `clean` would already be a huge gain.

If there are concerns with breaking backwards compability we could introduce an `skipFlushCache`option (defaulting to false), so people could take care of cleaning the cache themeselves before calling `sy

[2016-08-12 08:25] cmuench commented on #850
@fbrnc As Tom mentioned is the code very old. We supported Magento 1.3 at this time.
I think it could be an issue with some store initialization. With n98-magerun you also need to flush the cache to start the update process in the web frontend.

I think we should add the `--skip-cache-flush` option to the command and @fbrnc can investigate if this change will produce any issues.

[2016-08-12 10:06] tkn98 commented on #850
Backwards compat is fine.

Please find the `--no-implicit-cache-flush` option within the development version (source). I have not turned this into clean, so that if you need clean, you should call it beforehand.

Please try how it works for you.

@cmuench: Here as well dev-build runs but hangs on outdated code.

[2016-08-17 13:45] arosenhagen opened #851 "FR: allow environment variables in local.xml"
We currently move our deployment workflow to [envoyer.io](https://envoyer.io). For this to work we developed [Ffuenf_ConfigDotEnv](https://github.com/ffuenf/Ffuenf_ConfigDotEnv) to allow environment variables in local.xml which are loaded via [php-dotenv](https://github.com/vlucas/phpdotenv).
With this in place the n98-magerun db:* commands no longer work since the substitution takes place inside

[2016-08-17 13:58] husseycoding opened #852 "Create dummy customer does not respect allowed countries"
When creating a dummy customer with an address, the allowed country list is not respected and addresses are created with all countries used randomly.  Should instead only use countries from the allowed countries list.

[2016-08-17 14:28] tkn98 commented on #851
With the implementations, I don't understand for what the library is required? The whole substitution logic takes place here:

        $value = parent::xmlentities($value);
        if (substr($value, 0, 1) == "$") {
            $value = getenv(substr($value, 1));
        }

(leaving aside that error checks are missing with this code)

I just write because this is pretty straight forward I guess.

[2016-08-17 16:16] arosenhagen commented on #851
The library is only required to use a .env file with environment variables (which is a default logic on envoyer.io). You're absolutely right - the whole logic is in the snippet you mentioned.
What do you mean by _And is there any reason the variables are not substituted when the file is placed into the environment?_ ?
Just did a quick PR (not tested!)

[2016-08-17 16:43] ktomk commented on #851
When you copy the file over onto the target system, why don't you substitute the variables directly so that it won't need to be done when the application parses the file.

Right now, you're effectively breaking the file format with these place-holders. Normally you ship a template of such configuration files and on deployment, the placeholders are replaced. In your case evaling the file contents w

[2016-08-17 17:08] arosenhagen commented on #851
@ktomk thanks for your input! That got me on the right track for this :-)
Overall it's indeed way better (and secure) to substitute those env vars on deployment. I was just in the loop of the envoyer.io logic - but after all I only had to add an appropriate update hook:
[code]
_(taken from [replace-environment-variables-in-a-file-with-their-actual-values](https://unix.stackexchange.com/questions/2

[2016-08-18 09:37] tkn98 commented on #851
Great to read that. it's also often common for some to have the config template like .dist and then "copy over" to the real name:

    app/etc/local.xml.dist -> app/etc/local.xml

So you can keep the other file git-ignored and the template under version control. But that just as a note in the margin.

I think it's okay to close for now.

[2016-08-18 09:37] #851 closed

[2016-08-18 21:37] ktomk commented on #852
From what I know, the allowed country list can change randomly and therefore customers with countries not in the - at some point in time - country list are a perfectly well scenario.

Could you please elaborate why you think this should not be the case?

[2016-08-18 21:43] ktomk commented on #754
@seansan: Please raise your voice / provide a PR / help with testing / any other kind of contribution in upstream.

It has been as well reported in upstream already https://github.com/GordonLesti/Lesti_Fpc/issues/250 (via: https://github.com/netz98/n98-magerun/issues/775)

While we could probably provide some workaround within Magerun, this would be wrong to do because the root-cause lies within L

[2016-08-19 08:29] seansan commented on #754
Thanks: but we dont use Lesti FPC

We just use REDIS ... and also I'd just like to confirm that we have also
seen this issue

On Thu, Aug 18, 2016 at 11:43 PM, Tom Klingenberg <notifications@github.com>
wrote:

[2016-08-19 09:37] husseycoding commented on #852
Not sure on what you mean about the allowed country list changing randomly, but I'm talking about the config setting under system -> config -> general -> countries options -> allowed countries.

My use case is as follows.  I am working on a store which appears to have an order related issue with a third party service.  This third party service deals with orders just from one country.  In order to

[2016-08-19 15:04] tkn98 commented on #754
Okay, have you tried to flush it two times after another?

[2016-08-19 15:55] ktomk commented on #852
With this context it's much better understandable to me what you're looking for and why.

This needs filtering in the \N98\Magento\Command\Customer\CreateDummyCommand::createAddress method I think

[2016-08-20 06:46] seansan commented on #754
Our problem is "more" related to #583 - I now see these 2 are linked. But are root cause matches the other case more. I've also been reading this https://github.com/convenient/magento-ce-ee-config-corruption-bug - but the fix mentioned there also does not solve it. So I must say I am no longer certain what exactly is leading to the 'Front controller reached 100 router match iterations' warning

[2016-08-20 18:29] barbazul opened #854 "sys:setup:run exists with code 0 on error"
This was suposedly fixed a long time ago but I just run into it today.

Check #571 and #384

I am running n98-magerun version 1.97.22

[2016-08-20 18:52] barbazul opened #855 "404 error after successful upgrade"
This is probably a minor thing but I am seeing a 404 error being output after upgrading n98-magerun to 1.97.22

[code]

However, upgrade was successful and everything seems to work fine

[code]

[2016-08-22 06:12] ktomk commented on #855
The 404 is when magerun tries to fetch the changelog file whichs name has changed sometime over the last months. It's no defect in functionality. It's a problem with the original implementation which still exists. We can't fix this retroactively however should have this as a reminder for future changes.

[2016-08-22 06:14] ktomk commented on #854
Well, where exactly did it fail for you?

And yes you're right, it should have an non-zero status on error.

[2016-08-22 07:20] tkn98 commented on #754
I suspect this has core implication. Maybe some initialization order issue. Is it the case you've got the config cache with a redis backend?

[2016-08-22 07:22] seansan commented on #754
Yes we use redis: cache+session

[2016-08-22 07:26] tkn98 commented on #754
@seansan: Just asking for clarification: Do you know if it is possible to use different backends for cache? I always suspected this was the case (but I for sure ight be wrong on this), but for your report it's important I know about *your* current awareness/state of information.

[2016-08-22 08:02] seansan commented on #754
Do you mean switching from / to other storage? Of course we can switch back
to /var/ file storage ...

On Mon, Aug 22, 2016 at 9:26 AM, Tom Klingenberg <notifications@github.com>
wrote:

[2016-08-22 08:37] tkn98 commented on #754
No I meant more, that for config cache use redis backend, for fpc use file etc. So that we have the scenario that config-cache does use the default file-backend in the end while all caches are configured to use redis but at that time config cache does not yet know it's the redis backend.

[2016-08-22 09:13] tkn98 commented on #384
Report in #854 of a regression. Trying to find out in which scenario tough.

[2016-08-23 13:15] tschifftner commented on #314
I had this issue on a client server with current version (1.97.11) and PHP 5.3.29. The following worked:

`php -d apc.enable_cli=0 ./n98-magerun.phar`

[2016-08-24 14:02] sprankhub opened #856 "dev:module:rewrite:conflicts Not Found Error"
If a rewrite is defined on a class which is not available in the Magento installation, `dev:module:rewrite:conflicts` will result in a fatal error:

    PHP Fatal error:  Class 'Some_Class' not found in ...

This is the case when an extension e.g. rewrites an enterprise class, which is not available in the community edition. Example:

    <enterprise_cms>
        <rewrite>
            <config>Some

[2016-08-24 14:56] tkn98 commented on #856
So should non-existent rewrite classes be reported or not? What's your suggestion?

Technically I'd say this is worth a warning in verbose mode.

Regardless of the severity, the fatal error must go, that qualifies as a bug.

[2016-08-24 14:57] tkn98 commented on #856
@sprankhub: Can you provide a location in the code where the fatal error happens? Or a backtrace (e.g. run with xdebug enabled).

[2016-08-24 14:59] sprankhub commented on #856
Warning in verbose mode seems okay for me. For normal (non-verbose) usage, I would ignore it. Otherwise, there are too many useless warnings. I guess it is quite common to handle enterprise classes, which are non-existent in CE.

    PHP Stack trace:
    PHP   1. {main}() /usr/local/bin/n98-magerun.phar:0
    PHP   2. N98\Magento\Application->run() /usr/local/bin/n98-magerun.phar:8
    PHP   3. Sy

[2016-08-24 15:02] tkn98 commented on #856
Puh, I'm wondering how this is handled within Magento as this Varien autoloader triggers the fatal error. And we need to trigger autoloading otherwise I don't see how we should resolve classname existence.

Any idea?

[2016-08-24 15:05] sprankhub commented on #856
No ad-hoc idea. I will keep this in my inbox and I will try to check that some time, but my time is quite limited currently :-/

[2016-08-24 15:12] tkn98 commented on #856
Sure, mine as well ;). Fatal errors of this kind are PITA material prior PHP 7. I take this with me as well maybe tomorrow morning I have an idea.

[2016-08-24 16:53] tkn98 commented on #856
@sprankhub: Can you crate a little PHP script and use `Mage::getModel()` with the string-identifier of the rewritten class and see what happens? Does it fatal error as well?

[2016-08-25 05:02] ktomk commented on #854
I'm unable to reproduce your problem. Please verify the version you're using and provide it.

Also provide more information into which kind of error you run.

Until then I'll close the issue.

[2016-08-25 06:59] sprankhub commented on #856
Yes, a direct call to `Mage::getModel()` with the string identifier of the rewritten class reveals the same error, which is logical. The issue is that there is no call to `Mage::getModel()` with this identifier in the code base. There is only the defined rewrite (and another rewrite definition it conflicts with).

I think  the issue is that you [here](https://github.com/netz98/n98-magerun/blob/mas

[2016-08-25 07:11] tkn98 commented on #856
This is not necessarily logical. I can configure rewrite that use classes which extend from non-existent classes with without seeing any fatal error. I just checked that already this morning.

I suspect there is an underlying issue in the file that is being included which is causing the fatal error. Can you give a simple include on that file alone a try? And can you report which PHP version you're

[2016-08-25 07:16] sprankhub commented on #856
If I include the file with `require_once`, I also get a fatal error. And I think this is default behaviour - how should PHP construct a class without a working inheritance chain? My PHP version is 5.5.35-1+donate.sury.org~trusty+4.

I will send you my test files via mail.

What do you think about my suggestion?

[2016-08-25 09:53] tkn98 commented on #856
Well if you do require, then it's a fatal error. Because there is a requirement with require, while with include it's a warning.

However Magento's Varien lib autoloader is using *`include`* and not *`require`*. So please test with include.

And take care here that this is a special scenario: The *autoloader* tries something to resolve a class. This *can* fail (non fatally) and then class_exists()

[2016-08-25 09:56] tkn98 commented on #854
Let it stay open until clarified.

[2016-08-25 10:16] sprankhub commented on #856
With `include_once`, I still get a fatal error.

[2016-08-25 10:37] barbazul commented on #854
I'll try to build an example later, but it's a simple case.

A setup script throws an exception (like a duplicate table or a FK constraint failing).
Setup exits and dumps both the error and the content of the offending script.
Exit code is 0.

I am running n98-magerun version 1.97.22 (already mentioned this in the original post)

[2016-08-25 11:02] tkn98 commented on #854
Hmm, that case is covered over here. No idea why this doesn't work on your end, so an example is very welcome.

[2016-08-26 13:25] zuernBernhard opened #858 "[Feature-Request] n98-magerun command to clear orders"
It would be great for local development to be able to remove certain or all orders drom the database:

n98-magerun orders:clear

n98-magerun orders:clear:single <order-id>

[2016-08-29 04:40] robbieaverill commented on #856
It's worth noting that we now have a "does class exist" check in the `dev:class:lookup` command which might be useful here as well.

[2016-08-29 07:38] sprankhub commented on #856
I just checked the `856-fatal-error-on-parent-class-inexistence` and it solves the issue for me. Thanks a lot @ktomk!

[2016-09-06 06:48] caneraydinbey commented on #298
Anyslutions?

[2016-09-10 18:13] writecz opened #860 "Doesn't output anything"
I get no message for any command, ie. index:list, cache:list... sys:info ends up with "Magento System Information", but prints nothing else.

Running with -v flag didn't show any debugging info.

[2016-09-12 09:05] tkn98 commented on #856
@robbieaverill: Do you get fatal errors with that command? If so, it would be a good candidate to continue on. Can you check and create a new issue if that is the case?

[2016-09-12 09:08] tkn98 commented on #860
Please provide the full (non) output of the command incl. the command itself. Please add `-vvv` option for more verbose information.

[2016-09-12 09:34] tkn98 commented on #298
@caneraydinbey: The solution I'd say is to use Magerun2 :) - But I was not aware that this still is an issue for someone. Can you share some more details what your issue is?

This issue was reported (Feb 2014) before branching out the Magerun 2 version (Nov 2014).

[2016-09-12 09:51] robbieaverill commented on #856
Will check tomorrow and report back.

--
*Robbie Averill*
LA PETITE MANOUCHE - NZ Gypsy Jazz Guitar Duo
Phone: +64 27 321 4758
contact@lapetitemanouche.com
www.lapetitemanouche.com

[2016-09-12 11:14] tkn98 commented on #854
No feedback over more than two weeks, closing.

[2016-09-12 14:37] writecz commented on #860
Nevermind. It started working today, dunno what it was. Thanks you for your participation and -vvv flag, new for me. Have a nice day.

[2016-09-12 14:43] #860 closed

[2016-09-12 20:18] robbieaverill commented on #856
Running version 1.97.22 this issue doesn't occur for me, it simply doesn't report the missing class as a conflict.

[2016-09-12 20:22] ktomk commented on #856
@robbieaverill: Interesting and thanks for the check. Sounds good to me then, just in case you run into trouble, open a new issue, we can reference this one then.

[2016-09-22 07:44] gwillem opened #861 "Namespace clash between local and system modules"
When local (in `~/.n98-magerun`) and system modules (in `/usr/local/share/n98-magerun`) have the same namespace defined in `n98-magerun.yaml`, I would expect that one of them (ideally, the one in the homedir) takes precedence. However, this is not the case in the situation that the system yaml defines a command that has no corresponding path in `~/.n98-magerun`.

Effectively, this breaks local ins

[2016-09-22 09:05] tkn98 commented on #861
This might be because we don't recursively merge here so only one of the two is taken (on the level of the module, not on the level of the command) and the last module wins in the loading order. That's just a quick assumption.

Which order do you favor and why? homedir over global (the homedir is a mix-in into global, e.g. on a per command basis) or the other way round (and perhaps why).

[2016-09-22 10:57] gwillem commented on #861
IMHO homedir over global is the most intuitive. _User_ is more specific than _system_, and the most specific should take precedence. Also, global over homedir would not allow a user to overrule system modules (which are quite possibly beyond his control).

[2016-09-23 08:43] tkn98 commented on #861
The folder `/usr/local/share/n98-magerun/modules` is a pre-configured
(via `config.yaml` in the repo) *plugin* folder.

It is not the *system* folder as you write - just for the _wording_.

Can you please run with the `-vvv` switch as it should show when each
plugin config is loaded. This should show the loading order (so in case
you have modules you don't want to show, just short the output).

Fr

[2016-10-05 08:51] gwillem commented on #861
Hi Tom, thanks for your reply.

[code]

To reproduce:
[code]

[2016-10-05 08:58] tkn98 commented on #861
So if home-dir over a the previous usr-local one, this sound like a namespace clash for the auto-loader. w/o hacking it (composer autolader that is IIRC) we could only decide to let one of the same named plugins win. We perhaps stand on our own foots by recursive merging the configs at that level.

Do you have by chance the source of that plugin online on Github?

[2016-10-05 09:03] gwillem commented on #861
The modules in this case are already on Github: https://github.com/peterjaap/magerun-addons

The initial error was caused because our customer (@peterjaap ;)) had an old version installed in his homedir, while we had a newer version installed system-wide.

[2016-10-05 12:46] tkn98 commented on #861
Now this makes sense. The home-dir config was merged, so additional commands to which there were no classes to be auto-loaded given then. These lead to the error of the not-found class as it was looking in the wrong directory.

That's a bummer for the override when it comes later.

We could check autoloaders and if a duplicate throw a configuration warning/exception and do not load the (second) pl

[2016-10-16 16:14] barbazul commented on #854
Sorry it took me a while to get back to this.

I created this repo with a a very simple example of the error.

https://github.com/barbazul/magerun-setup-example

[2016-10-16 21:37] ktomk commented on #854
@barbazul: Thanks for creating the example, with some little modification of the instructions I was now able to reproduce the issue. The exit status is wrongfully 0.

[2016-10-17 08:36] shineability opened #864 "Autoloading composer classes in commands"
How can I use composer installed packages in my commands? Where to include the composer autoload.php? When I try to include it at the top of my command before the class definition it gives me this error:

`PHP Fatal error:  Uncaught Error: Call to undefined method N98\Magento\Application\Console\Event::setDispatcher() in phar:///usr/local/bin/magerun/vendor/symfony/event-dispatcher/EventDispatcher

[2016-10-17 14:24] ktomk commented on #864
Which composer installed packages? New ones or the existing ones in the package?

For existing ones it should work out of the box, Console Events should be available in Magerun "natively" as we're making use of those already.

[2016-10-18 08:28] shineability commented on #864
E.g. I want to use the package [semver/semver](https://github.com/git-pull-request/php-semver) in the command I'm writing. Command should be run globally, not in an existing Magento instance. So my idea was to require it globally and then include ~/.composer/vendor/autoload.php in the command class, resulting in the error mentioned above. What would be the best way to do this? Do you need to inclu

[2016-10-18 18:22] arwineap commented on #850
We were also having issues with the caches being cleared during sys:setup:run

Fix works great for us!

[2016-10-18 18:33] ktomk commented on #864
Okay, I'm not that fluent with it but what I remember might be what you're looking for. In the config file (yaml file) of your extension you can make use of the following keys:

* `autoloaders` : PSR-2
* `autoloaders_psr4` : PSR-4

These can contain zero or more prefix / path combinations in which you hint the class namespace prefix with the path on disk.

When Magerun loads, your extensions confi

[2016-10-19 21:17] ADDISON74 opened #866 "Exiting shell?"
n98-magerun shell command allows prompt interface. Do we have a command for exiting the shell like quit, exit? in this moment I am exiting with Ctrl + C.

[2016-10-20 05:49] cmuench commented on #866
You can type "exit" and hit return.

[2016-10-20 09:13] ADDISON74 commented on #866
It is not working, see the image bellow:

![n98_exit](https://cloud.githubusercontent.com/assets/8360474/19553741/24dd3bc6-96be-11e6-87c8-0635c7e17e69.jpg)

[2016-10-20 14:59] ktomk commented on #866
Please report the exact version of Magerun you're using and the original command-line you executed to enter the console so that we can see if the scenario you report is reproducible or not. Thanks.

[2016-10-20 15:10] ADDISON74 commented on #866
OS: Debian 8.5  64bits
n98-magerun version: 1.97.22 downloaded according to your instructions in Magento root directory
command executed: ./n98-magerun.phar shell

After executing that command you have the screenshot from above. Entering exit command and pressing Enter key you see the result. Error says "Command exit is not defined". You are still in n98-magerun prompt shell.

[2016-10-20 15:30] cmuench commented on #866
@ADDISON74  My mistake...   dev:console != shell
The shell can only be exited by typing "Ctrl + C".
The dev:console can do much more and has a "exit" command.

[2016-10-20 15:36] ADDISON74 commented on #866
I can exit with Ctrl + D as mentioned when you start shell too. I thought it might be an exit/quit command.

[2016-10-20 19:06] ktomk commented on #866
Ctrl + D signals EOF IIRC. See as well some more reference material like [Why does Ctrl-D (EOF) exit the shell? (Unix & Linux Stackexchange; Jan 2014)](http://unix.stackexchange.com/questions/110240/why-does-ctrl-d-eof-exit-the-shell).

The Shell itself is from Symfony Console, from a quick look it's nothing we can easily change. Please use ctrl+D to exist the shell.

[2016-10-20 19:06] #866 closed

[2016-10-24 11:27] tkn98 commented on #864
@shineability: Please let us know if this worked for you or if you have any further questions.

[2016-10-31 10:58] tkn98 commented on #850
This feature is now part of the code-base in the development version and will become part of the next stable version.

[2016-10-31 10:58] #850 closed

[2016-11-03 09:21] amenk commented on #494
I had a look at mr-shared and it is almost empty :-) Is there any progress, i.e. on the Database functionality extraction?

[2016-11-03 09:32] tkn98 commented on #494
Actually there is one problem with it (technical) which causes the stale. But you can find shared resources in the shared folder already which is part of both projects.

[2016-11-03 09:40] amenk commented on #494
But they are not in a separate git yet?

[2016-11-03 09:57] tkn98 commented on #494
Technically it is, but it's not yet properly shared remotely (read: on github). But we don't hide any code or so b/c thanks to subrepo, we always share all code regardless of repo. I think I can tackle with it next week, at least for the part I have in mind what could solve the technical issue. We also have a bugreport upstream but it's not so trivial to reproduce. Every start is hard :)

[2016-11-14 14:36] ashsmith opened #871 "Incorrect URL generated via cron"
If you are generating URL's via cron such as product urls for a product feed, magerun will add the script name (`n98-magerun.phar`) into the URL rather adding `index.php`.

**Expected result:** http://dev.www.mymagentostore.com/index.php/awesome-product.html

**Actual result:** http://dev.www.mymagentostore.com/n98-magerun.phar/awesome-product.html

I did a little digging into this and `cron.php`

[2016-11-14 14:55] tkn98 commented on #871
Interesting report :) I wonder what the magento core cron.php script does here to not run into the same problem. I think we should mimic that.

[2016-11-16 13:35] rafaelstz opened #872 "Add Magento 1.9.3"
Add the install script to Magento 1.9.3

[2016-11-18 14:27] faisalmirza opened #873 "admin:user:change-password shows password"
When asked for password, it shows the input. This should be hidden.

![image](https://cloud.githubusercontent.com/assets/1070807/20432997/09cb8d38-ada2-11e6-9ff9-de9cc2394dbb.png)

[2016-11-21 08:17] tkn98 commented on #873
Feel free to make this possible. AFAIK this is not possible with PHP built-ins. Composer uses some binary for it AFAIK. Patches welcome :)

[2016-12-01 16:52] pjarts opened #875 "Commands for generating data upgrade scripts"
I would like a set of commands that can load pages/blocks/widgets etc. from the database and create data upgrade scripts for them, similar to dev:setup:script:attribute.

[2016-12-02 15:09] Aquive commented on #872
Any details for roadmap?

[2016-12-02 19:16] rafaelstz commented on #872
When we use `php -f n98-magerun.phar install` the last version is missing.

![image](https://cloud.githubusercontent.com/assets/610598/20846926/016c4508-b8b3-11e6-99c3-af216e95424a.png)

[2016-12-02 23:48] ktomk commented on #872
I'm currently remote so I can't take care of this in a quick manner. For example, I can't download the packages and create the SHA1 checksums for them:

- https://github.com/OpenMage/magento-mirror/archive/1.9.3.1.zip
- https://github.com/OpenMage/magento-mirror/archive/1.9.3.0.zip

Same for those packages from Magento download section.

Additionally when reviewing the issue it came to my attentio

[2016-12-04 17:39] ktomk commented on #872
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-12-04 17:39] #872 closed

[2016-12-05 03:31] Vinai opened #876 "Unable to download file"
Installing magerun according to the documentation using the following commanda

[code]

causes the an endless loop of it's re-downloading itself from the same URL until the stack blow.

[code]
As it turns out, the file at https://files.magerun.net/n98-magerun.phar is the same as https://github.com/netz98/n98-magerun/blob/master/n98-magerun.phar..

[code]

Both have a md5 hash of `d5fc665281a8efcfc

[2016-12-05 03:31] Vinai commented on #876
PS: Two days ago it still seemed to be fine.

[2016-12-05 03:33] lukevers commented on #876
I'm also having this problem.

[2016-12-05 06:52] ktomk commented on #876
The build is broken again ... . Thanks for the report. We'll take care.

Maybe if the unstable version is not broken you can use it instead, they are pretty close right now.

[2016-12-05 07:14] cmuench commented on #876
I have recreated the phar file manually. Can anyone try again?

[2016-12-05 07:58] ktomk commented on #876
Checksums now differ:

	$ curl -sL https://raw.githubusercontent.com/netz98/n98-magerun/master/n98-magerun.phar |  md5sum
	d5fc665281a8efcfca17c3d38495dc57  -

	$ curl -sL https://files.magerun.net/n98-magerun.phar | md5sum
	d3e27d8a72bcfb63f6ca512d7117cf0d  -

I'll take care of the build so to iterate over it again.

[2016-12-05 09:50] #876 closed

[2016-12-05 10:48] Vinai commented on #876
As an intermediate solution I'll try to use a local old copy of magerun in the builds, but it would be great if you could put the right file back to the file.magerun.net location please.

[2016-12-05 10:50] Vinai commented on #876
Thanks for the quick resolution!

[2016-12-05 10:56] ktomk commented on #876
@Vinai  should be working now again. We also took some precautions so that in this manner won't happen again. Never thought of this error edge case.

[2016-12-05 11:04] Vinai commented on #876
Yes, can confirm it works again!

[2016-12-05 13:07] tkn98 commented on #872
@rafaelstz: Magento Mirro 1.9.3.0 and 1.9.3.1 incl. the correct sample-data should work now.

1.9.3.0 (w/o correct sample-data) was already available earlier, however only in the development ("unstable") version.

Today we released 1.97.24 which contains all available current versions incl. the correct demo-data properly now in a stable revision.

[2016-12-05 13:07] tkn98 commented on #872
@Aquive: Versions are now available in stable  1.97.24.

[2016-12-06 08:50] tkn98 commented on #875
Patches welcome.

[2016-12-06 17:48] ktomk commented on #864
No traction.

[2016-12-06 17:48] #864 closed

[2016-12-07 00:38] ktomk commented on #873
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-12-07 00:38] #873 closed

[2016-12-07 20:25] ktomk commented on #861
I could now further look into this issue. It's not as straight forward as thought because the home-dir module did already replace the system-module, the problem is, it only did in part. The home-dir (later) module can add more commands (even the same again) but it can only replace the autoloader prefix (PSR-0). So unless the home-dir module does not provide files for all existing classes, these ar

[2016-12-07 22:27] ktomk commented on #750
No traction.

[2016-12-07 22:27] #750 closed

[2016-12-08 01:01] ktomk commented on #871
@ashsmith: If you like, please provide a PR. The line has changed since your initial report but the solution looks like a good mimic. It's perhaps worth to backup the original values in that `$_SERVER` superglobal and restore it back after cron callback invocation.

[2016-12-08 01:02] ktomk commented on #871
@ashsmith: An if you can, please share the command you were executing running into this to the original report. That would better illustrate the issue (if there is private data, just use placeholders or similar).

[2016-12-08 01:12] ktomk commented on #855
Nothing to fix here atm so closing. But the report is useful to keep in mind for the next time the URL changes.

[2016-12-08 01:12] #855 closed

[2016-12-08 01:15] ktomk commented on #754
Must not be this issue, but some folks were happy while using redis to make use of a new flag in  #850. So at least leaving a cross-reference here.

[2016-12-08 16:24] AcousticRand opened #878 "add -A option for db:console command (mysql --no-auto-rehash or -A)"
If I use n98-magerun db:console, I will get a message that says:
"Reading table information for completion of table and column names
You can turn off this feature to get a quicker startup with -A"

And this will cause a significant delay before I can interact with the database (sometimes, on large DBs and servers that host many databases, it will pause for more than a minute).

This behavior also

[2016-12-08 17:02] AcousticRand commented on #878
As a workaround, you can make a local (in linux, ~/.my.cnf) my.cnf file,
and either create the [mysql] section or, if it already exists, you can add the option: "no_auto_rehash" option, i.e.:
[code]

[2016-12-10 05:03] AreDubya opened #879 "PHP Fatal error when installing sample data"
Hello,

I have tried a few times to install the sample data, but I get the same error each time :

Choose a magento version: 13
Enter installation folder: [./magento]./
  - Installing magento-mirror-1.9.3.1 (1.9.3.1)
    Loading from cache

Please enter the database host [localhost]:
Please enter the database username [root]: dev1
Please enter the database password []: dev1
Please enter the databa

[2016-12-10 12:39] ktomk commented on #879
Let me give this a try, I have to see it myself first.

[2016-12-11 19:22] ktomk commented on #879
Can reproduce at exactly the same place. I've bee running the following command:

[code]

Error message is the same:

That line is the creation of a **PharData**:

    $archive = new \PharData($file);

The `$file` tar.gz file in question that is causing this is:

* URL: http://sourceforge.net/projects/mageloads/files/assets/1.9.2.4/magento-sample-data-1.9.2.4.tar.gz
* SHASUM: `5ad29dc3df38d21b2407

[2016-12-11 21:33] ktomk commented on #879
Making use of the zip-file instead of the tar.gz file does not help either, with the zipfile at the same place the following error is:

That signals an error in the zip-file, which is easily confirmed:

[code]

That test reminds me to verify the tar.gz file as well:

[code]

Looks like the files provided from magento.com are invalid:

[code]

Wouldn't be the first time. However I also suspect an i

[2016-12-11 22:20] ktomk commented on #879
We believe that the bug reported is fixed in the stable version. It can be upgraded to it using the `self-update` command. The first stable version with this fix is  1.97.27.

[2016-12-11 22:20] #879 closed

[2016-12-12 07:49] tkn98 commented on #879
@AreDubya: Thank you for your report!

[2016-12-12 17:48] AreDubya commented on #879
@ktomk : Sorry for the delayed response, thanks for the detailed debug!

@tkn98 : Thank you for the amazing tool! I'm glad the report was helpful.

[2016-12-12 20:08] seansan opened #880 "cannot access DB, wrong field?"
Cannot access DB, wrong field?

Hi, I run this command but I cannot access DB. Don't understand why. server host is this not localhost? Or is it possible to see the complete command it uses to login?

On last version

[user@server public_html]$  magerun db:console
Warning: Using a password on the command line interface can be insecure.
ERROR 2005 (HY000): Unknown MySQL server host '-umydbname (0)

[2016-12-12 20:10] seansan commented on #880
[mydbname@server public_html]$ magerun db:info
+------------------------+--------------------------------------------------------------------+
| Name                   | Value                                                              |
+------------------------+--------------------------------------------------------------------+
| server                 | localhost

[2016-12-12 20:11] ktomk commented on #880
@seansan: could be a parsing issue. can you provide the `local.xml` file? And can you provide the magerun version?

[2016-12-12 20:15] ktomk commented on #880
Can confirm, it's a problem when using *sever* (`/config/global/resources/default_setup/connection/server`) instead of *host* (`/config/global/resources/default_setup/connection/host`).

Looks fishy that the username then is used then. Perhaps must error on empty hostname or not put it into the Mysql-CLI-string.

[2016-12-12 20:16] AcousticRand commented on #878
I've done what I think needs to be done to get this inserted (at least for db:console at this moment).
I am unsure, however, how to build this thing.  Are there instructions on the local build process so I can test locally?

[2016-12-12 20:19] seansan commented on #880
n98-magerun version 1.97.27 by netz98 GmbH

On Mon, Dec 12, 2016 at 9:11 PM, Tom Klingenberg <notifications@github.com>
wrote:

[2016-12-12 20:22] seansan commented on #880
that was the problem yes

no idea how <server> got there ...

On Mon, Dec 12, 2016 at 9:15 PM, Tom Klingenberg <notifications@github.com>
wrote:

[2016-12-12 20:23] ktomk commented on #878
You can run against your source version by executing

    bin/n98-magerun --version

If you want to make yourself a local magento installation next to it (for testing purposes), you can execute the local setup srcipt:

    build/local/test_setup.sh

If you have a mysql database server running that can be accessed with user *root* and no password it should do everything for you. otherwise see that

[2016-12-12 20:27] ktomk commented on #880
@seansan: I wonder as well but can't say. Can you confirm this was initially a configuration error on your end? For me it sounds a bit like that but I don't want to jump to conclusions too fast.

And in any case I see and error for the Mysql CLI command building.

[2016-12-12 20:28] ktomk commented on #880
@seansan: Could it be that Magento worked flawlessly?

[2016-12-12 20:33] seansan commented on #880
you almost wonder why?

I think this was our error

​thx for help

​

On Mon, Dec 12, 2016 at 9:28 PM, Tom Klingenberg <notifications@github.com>
wrote:

[2016-12-12 20:36] ktomk commented on #880
Yes I wonder why, thanks for the feedback. I also wonder if Magento itself had an issue with that or not. I think it will fallback to `localhost` for the *host*, I think we can do the same for the Mysql CLI string. Your feedback is very welcome!

[2016-12-12 20:44] seansan commented on #880
I think the error was correct. Because now it resulted in me fixing this.
Maybe magerun could error "host value not found"?

On Mon, Dec 12, 2016 at 9:36 PM, Tom Klingenberg <notifications@github.com>
wrote:

[2016-12-12 22:25] ktomk commented on #880
That would be an option, on the other hand I dunno if the host entry is not just optional in Magento 1. Taking a look into the code ... according to docs, it defaults to *localhost*. Compiling a fix. I won't give an error message as there is a default encoded for it in Magento. But I'll fix the output for `db:info` so it should become more obvious.

[2016-12-13 06:46] ktomk commented on #880
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-12-13 06:46] #880 closed

[2016-12-13 13:02] azngeek opened #881 "Incompatibility with PHP 7.1"
I get this error when running ```sys:setup:incremental````

[code]

As everything is from the phar-archive i guess that there are no other dependencies involved.

Tested on:

[code]

[2016-12-14 14:49] Kudja opened #883 "db:dump - set connection name (so not only default_setup)"
Can be usefull to dump from slave or dump not only main DB if used more than 1 db in project

So when getting connection we can pass connection name to N98\Magento\DbSettings.php  and use it instead of default, same time default must be default_setup + it as predefined param in constructor. Such way we'll not broke anything and we adding ability to dump stripped any DB used in project

[2016-12-15 08:40] peterjaap opened #884 "db:import sprintf too few arguments"
`Importing SQL dump 2016-12-dump.sql to database test`
`PHP Warning:  sprintf(): Too few arguments in phar:///usr/local/bin/n98-magerun.phar/src/N98/Util/Exec.php on line 44`

See that line [here](https://github.com/netz98/n98-magerun/blob/master/src/N98/Util/Exec.php#L43).

When I run the command with `--only-command`, and run that, I get a MySQL warning; `ERROR 1118 (42000) at line 3202: The siz

[2016-12-15 10:15] tkn98 commented on #884
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-12-15 10:15] #884 closed

[2016-12-15 10:54] tkn98 commented on #881
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the self-update command with the --unstable switch.

[2016-12-15 10:54] #881 closed

[2016-12-15 10:55] tkn98 commented on #881
Thanks for the report, great to see that PHP 7.1 is much more strict here!

[2016-12-15 10:55] tkn98 commented on #884
Thanks for the report!

[2016-12-15 10:57] tkn98 commented on #861
@gwillem: If you can please review the changes and provide your feedback. I assume it is now much more stable than before. And sorry for the delay.

[2016-12-15 10:59] tkn98 commented on #878
We believe that the feature requested is now part of the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-12-15 10:59] #878 closed

[2016-12-15 12:25] tkn98 commented on #140
Closing as no traction.

It should always be possible to insert a dump into an empty database. Just empty the database beforehand. We can't take care of issues that *might* appear if that is not the case as the existing data is undefined.

The exception that was reported looks more like a feature in Magento than a bug as the data was inconsistent and Magento realizes that the database-schema has n

[2016-12-15 12:25] #140 closed

[2016-12-15 12:30] tkn98 commented on #256
Sometimes we even have eternal loops asking for input but then not asking and taking the default to validation which fails then asking again but not asking and taking the default to validation ... .. .

Each command that needs actual support for this base feature needs to be patched. I suggest to concentrate on concrete requirements then. For the install command it's possible to provide all values

[2016-12-15 12:30] #256 closed

[2016-12-15 12:39] tkn98 commented on #365
Since fc84c8a9dfae666fd5ec4da4ce85f7050f0ee45b these errors are not hidden any longer.

General PHP settings requirements are tracked in #707.

No traction since longer also signal that current version is not so prone to this error any longer.

[2016-12-15 12:39] #365 closed

[2016-12-15 12:42] tkn98 commented on #565
We believe this flaw is fixed in the current stable version of magerun.

[2016-12-15 12:42] #565 closed

[2016-12-15 12:49] tkn98 commented on #613
For the file-based cache there is the `cache:dir:flush` command (since 02e7c692d960e98d7778918e339cde977ca8f5b6) which will report errors when can't empty a path within the (file) cache.

I close this issue for now as there is little traction the last months. In case `cache:dir:flush` is not for the rescue (or inappropriate) we can re-open it in case of a concrete issue.

[2016-12-15 12:49] #613 closed

[2016-12-15 12:55] tkn98 commented on #701
The `index:reindex:all` command still has this issue, it is at the point for try-catch/foreach un-aligned with the `index:reindex` command. Both commands can share of the execution code which they don't do yet.

[2016-12-15 15:36] hans2103 opened #885 "SHA256 mismatch on brew install"
[code]

[2016-12-16 00:29] ktomk commented on #701
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-12-16 00:29] #701 closed

[2016-12-16 00:35] ktomk commented on #885
Please report this with brew. Looks like the file has changed and brew provides an outdated checksum. Please leave a cross-link to the upstream issue here.

[2016-12-16 07:52] ktomk commented on #871
I added a fix to the development version. It would be great if you could upgrade to it (using the `self-update` command with the `--unstable` switch) and check if you still experience the issue. There is small chance that the fix is incomplete but I can not test the command fully integrated on my environment as I don't know the specifics of your scenario.

Your feedback will help to get this flaw

[2016-12-17 00:30] ktomk commented on #854
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-12-17 00:30] #854 closed

[2016-12-20 10:22] ashsmith commented on #871
Sorry for the delay. I'll be testing this today for you!

[2016-12-20 10:52] ashsmith commented on #871
Works perfectly 👍

Thank you!

[2016-12-20 14:29] tkn98 commented on #871
:)

[2016-12-20 14:29] #871 closed

[2016-12-20 18:03] michel1986 opened #886 "product image not showing in the frontend"
hello Guys,

After I use a cleanup command for the product image's the product image from som products ar not showing in the frontend ?

I use commands

Frontend > https://gyazo.com/3cf4241d687de289bc58427faac089dd
backend product > https://gyazo.com/0dfcfae55cc43298e89c7d2a288d6bcc

I how you no what I need to do

best regards,
Michel

[2016-12-20 19:16] tkn98 commented on #886
Hard to say from the outside. Could be a caching issue. Follow the trail of the image URL, probably you can spot something in it or on the file-system.

[2016-12-20 19:17] tkn98 commented on #886
Also please share the exact command that you were running (incl. parameters) and the n98-magerun you were using to complete your report.

[2016-12-26 09:40] hostep commented on #886
I think @michel1986 is using this magerun addons package: https://github.com/peterjaap/magerun-addons
@michel1986: best to open an issue over there if you experience problems with those commands :)

[2016-12-26 16:31] ktomk commented on #714
(found some older notes which is better to placed here) Some internals: For the concrete exception message:

I suspect it is triggered by [phar/phar.c#2846 ff](http://lxr.php.net/xref/PHP_5_6/ext/phar/phar.c#2846) which leads to `entry->cfp` which is a file pointer to the compressed tempfile. That handle is not closed within that loop but later on in a second loop. This is why `Phar::compressFiles

[2017-01-02 08:42] tkn98 commented on #886
That sounds ledigt, I'll close here for now, @michel1986  even redundant, please open the issue in the correct location: https://github.com/peterjaap/magerun-addons/issues - you can leave a link to the new issue then here, too so it is cross-linked. Thank you for taking the time to make Magerun and it's Add-Ons better!

[2017-01-02 08:42] #886 closed

[2017-01-03 15:47] thomas-spigel opened #887 "[Insight] Interfaces names should end with &quot;Interface&quot; - in src/N98/Magento/Command/CommandAware.php, line 7"
**[in src/N98/Magento/Command/CommandAware.php, line 7](https://github.com/netz98/n98-magerun/blob/880b7a675028ca6d12c0b41854e3951c5d73eacd/src/N98/Magento/Command/CommandAware.php#L7)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/9a5128f6-127c-4e6a-be4b-eade7b72b915/analyses/28)_

[2017-01-03 15:49] ktomk commented on #887
Clarity via word-form, not cruft.

[2017-01-03 15:49] #887 closed

[2017-01-13 13:48] bluec opened #888 "sys:setup:incremental causes PHP Fatal error: Uncaught ArgumentCountError"
I think this has only become apparent in PHP 7.1 with the newly implemented strict argument count. It means sys:setup:incremental won't run on PHP 7.1.x and does highlight an issue that the call to Symfony\Component\Console\Helper\DialogHelper::askAndValidate() is not including the third argument which is required.

[code]

[code]

[code]

[2017-01-21 02:26] kokosuave opened #889 "Slider Revolution(WordPress) plugin"
Fatal error: Uncaught Error: [] operator not supported for strings in /customers/3/a/c/rettaskitchen.com/httpd.www/wp-content/plugins/revslider/includes/framework/base-admin.class.php:71 Stack trace: #0 /customers/3/a/c/rettaskitchen.com/httpd.www/wp-content/plugins/revslider/admin/revslider-admin.class.php(465): RevSliderBaseAdmin::addMetaBox('Revolution Slid...', '', Array, NULL) #1 /customers/3

[2017-01-21 17:54] cmuench commented on #889
Wrong repo.

[2017-01-21 17:54] #889 closed

[2017-01-23 09:41] tkn98 commented on #888
This has been reported earlier in #881, please try the development version and let us know if it solves your issue.

[2017-01-23 09:41] tkn98 commented on #888
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the self-update command with the --unstable switch.

[2017-01-23 16:44] bluec commented on #888
Apologies for the dupe, not sure how I missed that. The development version appears to fix this, many thanks.

[2017-01-23 16:44] #888 closed

[2017-01-23 17:38] ktomk commented on #888
No problem at all. Thanks for confirmation of the fix.

[2017-01-23 17:39] ktomk commented on #881
Fix confirmed in #888 (dupe) by @bluec

[2017-01-24 12:27] robbieaverill commented on #858
It would make sense to me that this command could not be run unless developer mode is enabled, or a force flag was given. At the end of the day, you could do this manually from db:console, but it might be worth adding a failsafe just in case.

[2017-01-28 09:23] hgati commented on #588
Thanks.

[2017-01-31 09:41] peterjaap opened #890 "db:import | flag to not initialize Magento"
When setting up a new environment with an existing database dump, we want to use n98-magerun db:import to import the dump. But at that point, the database is empty so Magento cannot be initialized and the dump cannot be imported. A nice feature would be something like `--no-initialize` to just do an import, maybe querying database credentials from the user instead of reading them from the Magento

[2017-02-02 12:41] viktorsteinwand opened #892 "index:reindex:all dispatches wrong events"
After the executing reindexing all the file `var/locks/reindex_full.lock` is still present and disallow to execute full reindex again.

Assumption is that the ReindexAllCommand (https://github.com/netz98/n98-magerun/blob/master/src/N98/Magento/Command/Indexer/ReindexAllCommand.php) dispatches wrong events in the end of the `execute` method (https://github.com/netz98/n98-magerun/blob/master/src/N98

[2017-02-07 23:53] TKlement commented on #875
Please have a look at this blog
https://www.tudock.de/blog/webentwicklung/artikel/besser-entwickeln-mit-magerun-teil-4-entwicklung-eines-eigenen-magerun-moduls/
There you will find an article that describes your requested feature.

[2017-02-10 12:00] tkn98 commented on #885
I just pushed some changes and updated our build server so that the creation of the phar files - which were not - are not reproducible. That is, the same git revision has to create the same phar file. This is new an just in the develop branch, so keeping fingers crossed we're through with it, starting with 92ad7a3d4b049e06760e5888801ee5660e843b66.

That means in light of the reported issue that wi

[2017-02-10 12:03] tkn98 commented on #885
@hans2103: Thanks for bringing up this issue. We believe this is solved now in the development version which is directly becomming a new release. However we can not activate this retro-actively w/o rebuilding all phar files which would change their hashsums anyway.

I close for now as I think this is as far as we get for the moment, feel free to add additional feedback, in case this is not yet wor

[2017-02-10 12:03] #885 closed

[2017-02-10 12:06] tkn98 commented on #892
Ouch, this needs a fix. Thanks for the report.

[2017-02-10 15:36] tkn98 commented on #892
We believe that the bug reported is fixed in the stable version. It can be upgraded to it using the `self-update` command.

The fix was done while changing the underlying code for #701  (in https://github.com/netz98/n98-magerun/commit/b997b5b41e21136500cb525ba0d79c6cfd16c792#diff-7b2902c94dc722cabb65f74fdbac912bR159).

[2017-02-10 15:36] #892 closed

[2017-02-10 15:51] tkn98 commented on #890
I have problems to reproduce what you describe, for me it just works (see below for a log), I exported a dump, removed all tables from the database und imported the dump with `db:import`  and I didn't need any special flag to make it working.

Please provide more details about the concrete problem you've been running into, e.g. the concrete command and it's output.

[code]

[2017-02-11 15:11] ktomk commented on #885
Adding some references:

- https://github.com/Homebrew/homebrew-php/pull/3865

- #829

The brew formula needs update in their repo, from what I could see the last days, hashes are stable now.

- https://github.com/martinboy/homebrew-php/blob/master/Formula/n98-magerun.rb

- https://github.com/martinboy/homebrew-php/blob/master/Formula/n98-magerun2.rb

[2017-02-15 09:09] eriksenonline opened #893 "How can I help make new locale for create customer"
I would like to help add nb_NO for the https://github.com/netz98/n98-magerun#generate-dummy-customers command. How can I do that?

[2017-02-15 09:29] tkn98 commented on #893
Magerun uses *Faker* under the hood, please just try with the iso code.

The support of locales is within faker: https://github.com/fzaninotto/Faker#localization

If it does not work with nb_NO, please check if Faker already supports it and report back.

[2017-02-15 09:30] tkn98 commented on #893
Faker has support for it: https://github.com/fzaninotto/Faker/tree/master/src/Faker/Provider/nb_NO

[2017-02-15 13:25] hans2103 commented on #885
working like a charm. Thank you

[2017-02-15 16:53] ktomk commented on #893
Also please provide a simple command example how you want to use it, e.g.

[code]

I just tried this one and at least from the output this looks good to me. So could be that the locale already works it's just not documented.

From a first glance on the commands code I'd say there are two preconditions:

1. The Faker library must support the locale `nb_NO`
2. Magento must support the two-letter ISO

[2017-02-16 21:43] pocallaghan commented on #890
@tkn98 during your test you're using the `-f` flag. This tells magerun to drop only the tables, not the actual database itself. If you connect with the mysql client (i.e. `mysql -uuser -ppass`) and run `SHOW DATABASES` you'll see it's still there. In the use-case that @peterjaap is describing, he's trying to import the DB from a completely _cold_ start, i.e. without first having to issue a `CREATE

[2017-02-16 22:02] pocallaghan commented on #883
I'd imagine this is a relatively rare use case. Is this something you guys would be interested in having @tkn98? As one of the few people that actually does have multiple DBs, it's something that would be potentially useful to me, so I'm happy to take a crack at it. Presumably, if the feature does go ahead, it makes sense to add an optional argument for all DB related commands, defaulting to `defa

[2017-02-16 22:45] ktomk commented on #890
Ah, okay, well it would be convenient to create the db then as we can read the db name from the Magento configuration.

Also we could add a create database if not exists to the dump output, I think that is an option for mysqldump we use to create the dumps.

Perhaps both wouldn't hurt. However having the create database within the dump.sql file would tight the dump to the database name.

[2017-02-16 22:52] ktomk commented on #883
In Magerun2 this has landed ca. 3 months ago (https://github.com/netz98/n98-magerun2/pull/246) and just this morning I finished a first step of a bigger streamlining between the `db:dump` command in both versions. I still have to port **DbSettings** to Magento 2 which then would have a *connectionType* property which I think is this in Magento1, then we can backport this.

What you suggest looks s

[2017-02-17 08:09] tkn98 commented on #890
Just not it get's lost: When we provide parameters to override configuration database infos (host:port, db, credentials, socket etc.) we should consider having these parameters as well for the `db:create` and `db:dump` command. I like this idea, it's also a good change in time to switch away from camel-cased command-line parameters for the new ones (and perhaps deprecate the olders).

[2017-02-17 08:10] tkn98 commented on #883
This is also related to #890 in regard to command-line parameters.

[2017-02-22 17:08] nocturnalfrog opened #895 "Running 'sys:setup:run' in n98-magerun script prematurely ends execution of script file."
This is probably caused by the fix for issue: #854

Content of n98-magerun script:
[code]

[2017-02-22 17:39] ktomk commented on #895
Thank you for the report, the cause you spotted, do you have something more specific in mind what is causing this? is it that we `exit()` from PHP already?

[2017-02-22 18:01] nocturnalfrog commented on #895
I think removing line `  $this->getApplication()->setAutoExit(false);` causes the \Symfony\Component\Console\Application to fall back to the default value for $autoExit (`private $autoExit = true;`) which seems to cause an actual exit when the command is run instead of returning the exit code: \Symfony\Component\Console\Application:150

My guess is that this then actually exits the `n98-magerun sc

[2017-02-22 19:01] ktomk commented on #895
I could reproduce the issue and have applied a fix to the development version. From a quick scan on the code there are potentially other commands that are similarly incompatible with the `script` command. If that is the case the same kind of fix should be possible. Just saying if you run (or did run) over a similar behaviour for other Magerun commands in scripts.

We believe that the bug reported

[2017-02-22 19:01] #895 closed

[2017-03-01 00:08] zainengineer opened #897 "script exits without completing"
script exits without completing.
For example a simple script `sample.magerun`
[code]

`n98-magerun script sample.magerun` will never display cache list
it is a side effect of fix done in #854

[2017-03-01 06:15] ktomk commented on #897
Looks like a duplicate of #895.

[2017-03-01 06:16] zainengineer commented on #897
yes it is duplicate.

[2017-03-01 06:18] ktomk commented on #897
I can also confirm it fixed in the develop version:

	$ echo "sys:setup:run

	done
	+-------------+----------+
	| code        | status   |
	+-------------+----------+
	| config      | enabled  |
	| layout      | disabled |
	| block_html  | disabled |
	| translate   | disabled |
	| collections | disabled |
	| eav         | enabled  |
	| config_api  | disabled |
	| config_api2 | disabled |
	+-------

[2017-03-01 06:20] zainengineer commented on #897
It would be great if in future some unit test can catch the issue.

like checkout the output of a complex long script

[2017-03-01 11:49] tkn98 commented on #897
another thing would be support of the verbose option to show the command before executing it. That done, these errors are easier to catch in the future *and* users can more easily debug their scripts if they need to.

[2017-03-08 13:00] seansan opened #899 "Add reindex mode only required"
Add reindex mode only required

Seems like quick win; magerun detects dirty index and then runs only these

https://github.com/OpenMage/magento-lts/pull/184

[2017-03-15 17:10] amenk commented on #807
Let's drop magerun from the name and call it n98 only. And magerun2 n982 :-)

[2017-03-17 14:01] mikebranderhorst opened #900 "config:set --all feature request"
Option to set value for path on all scopes
[code]

[2017-03-21 23:21] yoosefi opened #901 "Cron diagnostics?"
It'd be cool to be able to look at the average runtime for jobs, or all runtimes for a given job-code, etc.

This would be useful for finding things that hang or could be optimized.

[2017-03-24 15:41] convenient opened #902 "admin:user:unlock broken"
https://github.com/netz98/n98-magerun#unlock-admin-user
[code]

I checked out the tag `git checkout tags/1.97.28` to run this test after noticing it on production.

[code]

I can see that `Add command  admin:user:unlock -> N98\Magento\Command\Admin\User\UnlockCommand` is in the log, but the symfony console can't find it.

I'm going to give this a debug when i have time, but if anyone knows the err

[2017-03-25 07:14] cmuench commented on #902
@convenient Thanks for reporting. The command is only available for enterprise editions. Can you check if it is a community edition?

[2017-03-25 10:58] convenient commented on #902
This is definitely an enterprise edition but it is super heavily
customised. How does mage run detect if it's enterprise or community?
Perhaps our customisations are breaking that check.

On 25 Mar 2017 07:14, "Christian Münch" <notifications@github.com> wrote:

[2017-03-25 17:17] ktomk commented on #902
@convenient: Normally this is detected via `Mage::getEdition() == "Enterprise"` but there is a fall-back when **Mage** is not yet available to look for the `app/code/core/Enterprise` folder in the Magento application root. I have just pushed a change to the develop branch that ensures **Mage** is available at that point in time (when the `admin:user:unlock` command is loaded and it is checked whet

[2017-03-25 17:22] convenient commented on #902
Thanks Tom I'll give this a go later

On 25 Mar 2017 17:17, "Tom Klingenberg" <notifications@github.com> wrote:

[2017-03-25 17:26] ktomk commented on #902
@convenient: Just try it, forgot to push the change, it's now on Github and building the development edition.

[2017-03-27 08:14] convenient commented on #902
Checked out `develop` branch.

[code]

Seems like you fixed it ;)

Is this fix locked down to the `admin:user:unlock` command or will other commands effected the same way now be corrected?

For visibility there is no `app/code/core/Enterprise` folder as `Enterprise` lives under the `/vendor` directory for this project.

[2017-03-27 10:05] tkn98 commented on #902
With that change, all commands which need the **Mage** class to get the edition will be fixed then.

Your issue was effective via:

https://github.com/netz98/n98-magerun/blob/develop/src/N98/Magento/Command/Admin/User/UnlockCommand.php#L29-L35

Other commands which checked for the edition the same are also fixed then.

[2017-03-27 12:29] convenient commented on #902
Good to know, i'll mark this issue as closed then and will use development branch locally and await the new release for use on prod environments.

Thanks for the quick fix. @tkn98 @cmuench

[2017-03-27 12:29] #902 closed

[2017-03-27 13:48] tkn98 commented on #902
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2017-03-28 09:07] tkn98 commented on #900
There is a way to achieve this IIRC, the `config:delete` allows `--all` already. So you can first delete all entries and then set the default one.

Please report back if that works in your case (or you maybe did it this way already?).

[2017-03-31 21:07] nbennett25 opened #903 "Ability to run magerun in Developer mode"
It'd be great to be able to specify which environment magerun is running in, so that `Mage::getIsDeveloperMode()` could be turned on...

[2017-04-04 15:45] nickw108 opened #904 "db:dump @development flag not excluding data as expected"
I'm using n98-magerun version 1.97.28 and having problems dumping a database with the @development flag. It seems to include customer data, email queue, etc, although the command line output suggests otherwise. The dump file is also 20M instead of the usual 6M. Any ideas if this might be a bug or is server-related?

[code]

[2017-04-06 06:38] cmuench commented on #904
@nickw108 Can you check the SQL statement which is used in the background.
`magerun db:dump --strip="@development" --only-command .db/dump.sql`

[2017-04-06 12:57] nickw108 commented on #904
It executes mysqldump twice, not sure if that's normal. The first one contains e.g. core_email_queue and core_email_queue_recipients, the 2nd one doesn't.

[code]

[2017-04-08 10:03] codexp opened #905 "aliases do not work in n98 shell"
I've used the ´ccc´ alias from examples to try it out and noticed that it does not work inside n98-magerun shell but does work outside (from bash).

aliases cause an exception in n98 shell:

    [Symfony\Component\Console\Exception\RuntimeException]
    Too many arguments, expected arguments "command".

    The command terminated with an error status (1)

[2017-04-08 10:39] codexp opened #906 "install command fails"
I tried to install recent magento-ce version, but it has failed downloading it:

[code]

[2017-04-10 07:16] cmuench commented on #906
It seems that Magento moved all assets away. We are investigating.

[2017-04-16 11:25] vdloo opened #907 "magerun install can't parse IPv6 addresses"
The `magerun install` command can't parse IPv6 dbHosts, it fails with `SQLSTATE[HY000] [2002] Failed to parse address` without brackets and with `SQLSTATE[HY000] [2002] php_network_getaddresses: getaddrinfo failed: Name or service not known` with brackets.

![ipv6](https://cloud.githubusercontent.com/assets/1437341/25070714/c2e4e4c6-22a6-11e7-8f71-96990b23fcca.png)

Tested on PHP 7.1.4 with mysqln

[2017-04-16 11:45] vdloo commented on #906
Using the magento-mirror version still works in the mean time, for 1.9.2.4 that's option 15:

![15](https://cloud.githubusercontent.com/assets/1437341/25070926/c088c0a4-22aa-11e7-9316-35bd51083da4.png)

[2017-04-16 19:14] cmuench commented on #906
Yes, that's a GitHub mirror. It seems that Magento removed the unauthorized accessable tarballs.

[2017-04-16 19:32] hostep commented on #906
They have been removed a long long time ago: https://github.com/netz98/n98-magerun/issues/722
Maybe it's best if the "normal" downloads are removed from the list and only the mirrors are kept?

[2017-04-17 12:45] cmuench commented on #906
A new n98-magerun version (1.97.30) is deployed.

[2017-04-17 12:55] cmuench commented on #907
I'm not sure if this is a n98-magerun problem. Magento 1 has some issues with IPV6. Additonally the PHP version must be compiled with IPv6 support.

@vdloo Can you check if a normal PDO connection works with your PHP version and IPv6?

[2017-04-17 12:56] cmuench commented on #905
@codexp Is this a n98-magerun alias (defined in a yaml config)? Or is it a bash alias?

[2017-04-17 12:58] cmuench commented on #904
@nickw108 If a table is stripped, the structure is always created with the first statement. The second will insert the data. If you like to exclude a table you should use the `--exclude` option.

[2017-04-17 13:15] codexp commented on #905
this is pure n98-magerun alias from yaml config.

[2017-04-17 13:26] cmuench commented on #905
@codexp Strange. I was able to run my defined aliases within the shell. Can you provide some details of your config?

[2017-04-17 13:46] codexp commented on #905
my config is in home folder (ubuntu: /home/{user}/.n98-magerun.yaml)
content:
[code]

[2017-04-17 13:57] cmuench commented on #905
@codexp Thanks. I can reproduce the problem now. It's only if the alias calls a command with arguments.

[2017-04-18 07:53] vdloo commented on #907
Hi @cmuench, you are probably right that this breaks somewhere deeper than magerun (maybe the PHP framework?) but I figured I'd report it here anyway for people googling this error in the future.

A connection with PDO works fine on this system, PHP is compiled with IPv6 support:

[code]

If I leave out the brackets it throws the same error as magerun does without brackets:
[code]

[2017-04-18 07:59] cmuench commented on #907
ok. Thanks for investigation.

[2017-04-18 17:49] chrispotter opened #908 "n98-magerun script does not throw exit code 1"
On `.magerun` scripts `n98-magerun script --stop-on-error <script>` does not throw status a non-zero exit code when it fails.

[2017-04-28 18:50] danemacmillan opened #911 "Failed reindex does not respond with correct error status code"
When a reindex throws errors, n98 does not respond with a non-zero error status code. For example, in a Bash environment, assume the first command in the chain fails:

[code]

The first command failing should mean that the `date` command will not run. Nevertheless, `date` still runs. It shouldn't. This makes it problematic to set up alerts in a crontab, for example. It also makes it impossible to

[2017-05-01 15:21] chrispotter commented on #908
@cmuench i'm having some trouble deciphering the travis-ci output on my PR.  I forgot to assign reviewers to my PR and it won't let me assign post-creation :/

Can you provide some direction?
N98\Magento\Command\Installer\InstallCommandPackageVersionTest::versionListing seems to be failing....

Thanks!

[2017-05-01 19:03] danemacmillan commented on #911
I should add this is also an issue when a MySQL dump fails.

[code]

`date` will run regardless the success or failure of the dump command preceding it. This issue might be true across other commands as well, but these are the two I use most often.

[2017-05-03 21:36] davidmpaz commented on #545
Closing this since its been quite long since created and main purpose is implemented already.

Thanks guys for the support.

[2017-05-03 21:36] #545 closed

[2017-05-07 11:43] amenk commented on #806
@tkn98
Now the next step would be to move more files from the Util folder to shared, right? Do you see any problems with this? I am specially interested in the Database functions. Can/shall I try it and make a PR?
But I think the gitrepo for the shared folder is still on your private github account, can you migrate it to netz98 ?

As long as we use it as a shared folder, we also can still run the

[2017-05-07 11:44] amenk commented on #806
When trying to run `bin/n98-magerun` i does not find N98\Util\ArrayFunctions ...

[2017-05-07 18:00] ktomk commented on #806
@amenk: Technically not quite right, the next step is to actually initialize the shared folder for git subrepo. For the error you found with the array util and file not found / class not found, that should be fixed prior that. If I find some time I can take a look.

[2017-05-07 18:41] amenk commented on #806
I think I found the problem.  Its due to my composer loading.i think I will
remove the composer require..

[2017-05-07 19:49] amenk commented on #806
I should work now

[x] build works
[ ] tests almost pass

	There were 2 failures:

	1) N98\Magento\Command\Database\StatusCommandTest::testRounding
	Failed asserting that '"Variable Name",Value,Description
	Innodb_ibuf_segment_size,728.00B,
	Innodb_ibuf_size,"  1.00B",
	Innodb_page_size," 16.00K",
	Ssl_session_cache_size,"  0.00B",
	Tc_log_page_size,"  0.00B",
	' matches PCRE pattern "~Innodb_page

[2017-05-09 02:49] zainengineer commented on #897
It is still not fixed.
Should be fixed by https://github.com/netz98/n98-magerun/issues/895
is it because changes are not released yet ?
https://github.com/netz98/n98-magerun/commit/83c828f97a4b2b5b50e102a1f1681a87907532bb

[2017-05-09 06:55] ktomk commented on #897
That commit is in *develop* only, so it is not yet part of the *,master* release.

[2017-05-09 06:55] #897 closed

[2017-05-09 06:56] zainengineer commented on #897
thanks @ktomk

Any timeline on when it will be fixed in production release?

[2017-05-11 14:31] cmuench commented on #911
@danemacmillan I could reproduce the behavior in a local Enterprise Edition project. I added support to detect bubbled Exceptions. An updated version of n98-magerun will be available in the next minutes. Please update with `n98-magerun.phar self-update --unstable` to test the new version in your environment.

[2017-05-12 17:04] cmuench commented on #908
@chrispotter The failed test was a problem in our develop branch. We fixed it. Your PR is now merged in the develop branch. Thanks for contributing.

[2017-05-17 20:31] danemacmillan opened #915 "Latest version 1.97.30 suppresses indexing error messages"
I've been running `1.97.7` for a while now, and finally decided to upgrade to `1.97.30` in anticipation of issue #911 being resolved.

In doing so, I noticed that n98 does not actually display any errors when it fails. I don't know when this started happening, but both of these issues combined make for a frustrating situation. What that means is that while #911 will likely respond with the correct

[2017-05-17 20:38] danemacmillan commented on #911
I'm not willing to test this out in production, as currently I'm still trying to figure out how to reproduce the issue locally, so I don't want to add more unknowns to the environment. I recently upgraded to `1.97.30` and noticed another issue, #915, which is related.

[2017-05-17 21:33] ktomk commented on #915
`-vvv` is the highest verbosity level.

It looks like this is a regression, but reading the other issue Christian didn't meant to say there is a new stable version available. He suggested to upgrade to the unstable version

[code]

If you want to try, that should have the commit.

However not showing the error in 1.97.30 looks not good either. But perhaps it is fixed in develop as well.

My sugges

[2017-05-18 18:44] yoosefi opened #916 "add a command to encrypt/decrypt values"
Something like `dev:encrypt` and `dev:decrypt` would be helpful for operating on things like encrypted config settings.

It could just take a string and dump out the encrypted/decrypted string.

[2017-05-18 22:32] ktomk commented on #916
I think `config:encrypt` and `config:decrypt`  is fine for the commands as encryption / decryption is for config values then. Routines for en- and de-crypting should be available in the base class of the config command.

[2017-05-19 18:36] yoosefi commented on #916
Initially this was my thinking (see original title) but Magento can encrypt/decrypt any data, not just config.

Something that just calls `Mage::helper('core')->encrypt()` and `Mage::helper('core')->decrypt()` would be useful.

[2017-05-19 18:45] yoosefi commented on #916
Hm ok not sure how I missed it but `--encrypt` and `--decrypt` already exist for `config:set` and `config:get`

Will keep this open for a generalized encrypt/decrypt, but feel free to close.

[2017-05-19 18:59] ktomk commented on #916
Okay I thought you had found out earlier and therefore changed the request. Can you tell me which other data is encrypted? I only know it from config.

[2017-05-19 19:51] szepeviktor opened #917 "Get frontName"
How is it possible to get admin `frontName`?

`n98-magerun config:get admin/routers/adminhtml/args/frontName` is not the solution.

[2017-05-19 20:00] ktomk commented on #917
If that is not the solution, then the default value might be.

[2017-05-19 20:01] szepeviktor commented on #917
I think this is not the way to read that variable.
I can find it in local.xml.

[2017-05-19 20:04] ktomk commented on #917
Default is not in local.xml, at least not that default I meant. Anyway, the `frontName` you ask is the part of the URL-path that signals it's the adminhtml area, doesn't it? I think that must be within some config.xml file IIRC.

[2017-05-19 20:04] cmuench commented on #917
@szepeviktor you should use the config:dump command.

[2017-05-19 20:05] ktomk commented on #917
I think it's about getting the value programmatically... but if it's in local.xml not sure if config:dump covers it - @cmuench perhaps knows it better from memory.

[2017-05-19 20:06] szepeviktor commented on #917
Thank you. The dump does not contain the frontname, not the admin URL.

[2017-05-19 20:08] ktomk commented on #917
the dump contains the default I mentioned in my first comment. so this is local.xml related. If you can share why you're looking for it we might have some pointers.

[2017-05-19 20:10] szepeviktor commented on #917
I'd like to log in without opening app/etc/local.xml which contains frontname.
I thought n98-magerun is able to display it.

[2017-05-19 20:12] cmuench commented on #917
n98-magerun.phar open-browser admin

[2017-05-19 20:14] szepeviktor commented on #917
@cmuench Thank you very much

[2017-05-19 20:14] #917 closed

[2017-05-19 20:15] szepeviktor commented on #917
@ktomk Thank you too.

[2017-05-21 15:56] amenk commented on #494
Here we go ... https://github.com/iMi-digital/n98-utils-split

[2017-05-21 17:24] cmuench commented on #494
@amenk that's nice, but I want to have all n98-magerun code in the netz98 organization.

[2017-05-26 00:05] yoosefi commented on #916
For example you can encrypt arbitrary strings via `Mage::helper('core')->encrypt(...)`, it's not just configuration values.

Having a command that encrypts/decrypts what you give it would be helpful.

[2017-06-01 09:20] robbertstevens opened #919 "Admin password expire doesnt get reset when you change password"
When I update the password with the command the password expire message doesn;t get reset. So even if I change it everyday in EE I still get notification I need to change my password.

[2017-06-01 10:02] ktomk commented on #919
Am I correct this is an EE feature? Can you share which model manages the exipred message in EE? So far, the command only updates the admin user model maybe some events are not properly dispatched / watched or the feature is put into a controller action in EE only?

[2017-06-01 10:24] robbertstevens commented on #919
This is indeed an EE feature. I have not looked into it, it's just something I noticed because I got the screen pop up just now while I just changed my password with the command

[2017-06-01 10:31] ktomk commented on #919
EE has a admin-user property / column `lock_expires`. I assume it should be cleared if set before save. Can you please check if the field could be set NULL? I don't have a EE install at hand right now.

[2017-06-01 10:36] ktomk commented on #919
Also this would require the config setting as otherwise if the expire feature is enabled, it would be disabled on each user that gets the password changed.

[2017-06-01 12:37] robbertstevens commented on #919
OOh my bad, I was talking about n98-magerun2. Can this ticket be transfered to that project? But I can imagine this is also the case here.

BTW... It's not possible to set the column `lock_expires` to `null`

[2017-06-01 13:07] ktomk commented on #919
@robbertstevens: It's not possible to move issues, you can report it over there. In Magento2 I think this is standard functioniality, so not an EE feature. Just FYI. You can leave a link here after you created a new ticket. I'll close the ticket now until someone confirms an issue for Magento 1.

[2017-06-01 13:07] #919 closed

[2017-06-01 13:49] robbertstevens commented on #919
https://github.com/netz98/n98-magerun2/issues/293

[2017-06-07 16:49] will-b opened #920 "add magento-ce-1.9.3.3"

[2017-06-07 22:54] ktomk commented on #920
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2017-06-07 22:54] #920 closed

[2017-06-07 22:55] ktomk commented on #920
@will-b: Thanks for your efforts!

[2017-06-08 15:58] ZaneCEO opened #923 "db:dump doesn't drop+create database => pre-esisting tables persists on import"
Hi,
big n98-magerun fan here!

I noticed that db:dump+db:import uses a multiple "droptable+dropcreatetable" approach. This is a problem because the pre-existing tables that aren't on the dump won't get deleted on db:import.

Case in point: I was doing deploing tests with SUPEE-6788, a patch that creates an upgradescript like this:

[code]

This actually creates new table.

My db was already upgrad

[2017-06-08 17:40] szepeviktor opened #924 "cms:search command"
[code]

Should I be able to write a custom command based on the Wiki?
https://github.com/netz98/n98-magerun/wiki/Add-custom-commands

[2017-06-08 18:30] szepeviktor commented on #624
We could have a list of commands in the module's `composer.json`

[2017-06-09 00:57] szepeviktor opened #925 "sys:modules:list is in plural"
But dev:module:list is in singular.

Is it something intentional?

[2017-06-09 06:13] ktomk commented on #925
Yes, that is intentional, within in the `dev:module`  namespace you can find development and module related commands.

[2017-06-09 06:13] #925 closed

[2017-06-09 06:21] ktomk commented on #624
First of all a curated list in machine readable form (e.g. a JSON file like `res/modules.json`) within the repo is necessary.  It than can be used to generate listings or even package management.

It should also be possible to tailor your own source version of Magerun, require modules via composer and build your own phar including these additional modules. IIRC our PHAR build supports this. So com

[2017-06-09 06:34] ktomk commented on #924
Not *only*, the Wiki contains some hints/tips for that. Best way I can suggest is pick yourself an existing command and take a look how it is done. Magerun commands are based on Symfony2 Commands, so it follows that configuration, some Magento / Magerun specific utils are available on top.

The beginning of that Wiki page tells how you can register your own command. This is necessary if you place

[2017-06-10 17:23] ktomk commented on #923
The `db:import`  command has the `--drop` option, if you use it for the import it should result in a solution for the problem you report.

The `db:export` command does not have such an option.

So please check if `db:import --drop` works for you.

[2017-06-10 17:25] ZaneCEO commented on #923
Excellent, thanks. I will test your solution on monday, but I expect it to work for me.

[2017-06-14 06:34] routbiplab commented on #588
Thanks for the explanation.

[2017-06-18 19:33] decorate opened #926 "No output"
Not producing any output on the shared server my Magento is installed on. I have emailed support and they added phar to whitelist. Any ideas? Thank you.

Command

[code]

Server information

[2017-06-18 20:53] szepeviktor opened #927 "Hash of directories"
Some modules like Mage_All_Latest define **directories** in the package XML with empty hash.

[code]

In this case `extension:validate` fails:

[code]

Please consider handling this special case.

https://github.com/netz98/n98-magerun/blob/33b151cb7a393d8ffff02ebd1fc8df860968caa2/src/N98/Magento/Command/MagentoConnect/ValidateExtensionCommand.php#L231

Thanks.

[2017-06-19 01:06] ktomk commented on #926
Please call with the `-vvv` switch and provide the exit code:

    $ ./n98-magerun.phar -vvv --version; echo $?

It should provide more information.

[2017-06-19 01:09] ktomk commented on #927
Do you have a link to Mage_All_Latest? Have you reported this with that module? Do you know of other modules that have this problem and if so, what are their names / homepages?

[2017-06-19 08:51] decorate commented on #926
Thanks for getting back to me.

Here is the output of the command:

[code]

[2017-06-19 10:10] ktomk commented on #926
Oh, no output at all.  Please verify the checksum of the phar file and share the expected magerun version and tell how you downloaded it.

Also Let's make the php configuration more explicit:

    $ php -ddisplay_startup_errors=1 -ddisplay_errors=1 -derror_reporting=-1 -f ./n98-magerun.phar -- -vvv --version; echo $?

This *hopefully* shows more, albeit the zero exit status already shows that ther

[2017-06-19 12:53] decorate commented on #926
I used the recommended wget command to download latest version.

[code]

Expected version is the one dated 2017-04-17 12:40.

[code]

:( Still nothing.

[2017-06-19 15:43] ktomk commented on #926
This is quite esoteric. I double checked the infos, maybe I get another idea later, but this smells like it could benefit from some debugging on your end. Can you share the hoster of that system? Can you disable specific PHP modules? Can you debug this ? Do you run other command-line PHP scripts on that host, likewise as well with phar files?

[2017-06-19 16:13] decorate commented on #926
Thank you for your patience regarding this issue. I was assured by my host that `phar` had been added to the whitelist. In search of another phar to run from the command line I just attempted to install `composer`. That gave me the following error:

[code]

My apologies I will chase with host (shared hosting) now and see if they can update the whitelist.

[2017-06-19 19:26] decorate commented on #926
That was definitely it, running as follows and it works!

`php -d suhosin.executor.include.whitelist=phar n98-magerun.phar`

[2017-06-20 05:21] szepeviktor commented on #927
http://connect20.magentocommerce.com/community/Mage_All_Latest/1.9.3.3/Mage_All_Latest-1.9.3.3.tgz

[code]

No, it is a core module.

https://www.magentocommerce.com/magento-connect/image-clean.html

[code]

[2017-06-20 09:40] ktomk commented on #926
I've applied a fix so that this circumstance is visible upfront, check is the same as with the Composer installer.

The change is directly available with the development version so please try it on your host.

[2017-06-20 09:43] ktomk commented on #927
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2017-06-20 09:43] #927 closed

[2017-06-20 09:45] ktomk commented on #927
Thanks for the detailed feedback, empty hashes are now handled and shown as EMPTY. The md5sum comparison makes only sense if there actually is a hash.

[2017-06-20 09:49] decorate commented on #926
Can confirm the check is in place and works on my host.

[code]

[2017-06-20 09:51] ktomk commented on #926
Fine. This issue also documents the workaround via explicit invocation:

    $ php -d suhosin.executor.include.whitelist=phar -f n98-magerun.phar -- --version

[2017-06-20 09:51] #926 closed

[2017-06-20 10:00] szepeviktor commented on #927
Thank you.
Does it now count as an *error*?

[2017-06-20 10:13] ktomk commented on #927
Are there errors counted? I have looked for that but found only output. There will be no more "Problem" displayed for that case, just that the hash is EMPTY (instead of OK).

[2017-06-20 10:19] szepeviktor commented on #927
Thank you.

I am continuously checking `extension:validate`'s output as integrity is very important.

[2017-06-21 15:29] #923 closed

[2017-06-21 16:41] ktomk commented on #923
@ZaneCEO: Thanks for taking care!

[2017-07-06 22:40] yoosefi commented on #138
This ticket and the workaround saved me. Please add a `--non-destructive` option.

[2017-07-12 19:20] ktomk commented on #876
@tim-reynolds: Can't reproduce for

[code]

Which error are you getting? The loop as reported in the first comment?

[2017-07-12 19:30] tim-reynolds commented on #876
@ktomk Oh I am sorry, no not a loop, the error one of my team was reporting was:

[code]

[2017-07-12 19:46] ktomk commented on #876
@tim-reynolds: That error description sounds like this is downloading the phar from Github. This is discouraged, use the files.magerun.net URL instead (the one given in the error message).

Background:

Question: Why is it discouraged to download the Magerun .phar file from Github?

Answer: A long time ago, the Magerun Github repository had the binary .phar file checked into the repository. Whenev

[2017-07-13 15:28] tim-reynolds commented on #876
@ktomk Thanks for the fast response. Yes, we were definitely going straight to GitHub, and yes changing that fixed out problem. We are in the process now of updating all of our vagrant environment scripts to no longer pull from GitHub. Really helped us out here. :)

[2017-07-21 21:44] ktomk commented on #906
Please use "magneto-mirror" packages as "magento-ce" packages are offline since 2015.

[2017-07-21 21:44] #906 closed

[2017-07-21 21:45] ktomk commented on #906
The packages under "magento-mirror" are transparently codified by Openmage here on Github: https://github.com/OpenMage/magento-mirror

[2017-07-24 17:46] yoosefi commented on #924
Nice idea. Other CMS tables are:

[code]

Maybe include them too?

[2017-07-24 21:30] ktomk commented on #924
I think this is a valid request. I'm open to comment further on, but from my end this would mean a first PR with some implementation material. It must not be perfect at all, you provide something and I'll give feedback. Whoever wants to make use of this, a first implementation must not deal with all options, so this is somewhat a good kind of starting point. I'm happy to share what I know about Ma

[2017-07-25 16:58] brandontamm commented on #313
@peterjaap - Any plans for creating a pull request with your script?

[2017-07-25 17:02] brandontamm opened #932 "Image & JS/CSS Cache Flush"
Read an [article](https://magento.stackexchange.com/questions/73063/flushing-magento-caches-with-magerun/73064) mentioning that the below commands work but I am not able to get them to work:

- magerun media:cache:image:clear
- magerun media:cache:jscss:clear

I thought these actually worked previously - were these removed? Any plans for this type of cache clear? Also any plans to implement OpCach

[2017-07-25 17:19] ktomk commented on #932
This is [part of a Magerun addon](https://github.com/peterjaap/magerun-addons/blob/d2caf464a813e9c886176b9843d862130f8fff16/src/Elgentos/Magento/Command/Media/Images/CleanCacheCommand.php#L15) you need to install first, it does not ship with magerun per default.

You can find the addon here on Github: https://github.com/peterjaap/magerun-addons .

[2017-07-25 17:19] ktomk commented on #313
@brandontamm: Please see this recent comment: https://github.com/netz98/n98-magerun/issues/932#issuecomment-317807644

[2017-07-25 19:49] brandontamm commented on #932
I see the image cache clean command, but not the js and css cache clean...is there a way to do this?

[2017-07-25 19:54] ktomk commented on #932
Yes, there is. I already commented about it earlier, sorry if that was not clear:

1. install the Magerun add-on written by Peter Jaap Blaakmeer

You should be able to find information on how to do that within the README.md information given in his repository:

* https://github.com/peterjaap/magerun-addons (Github displays the README below the list of files in a prominent fashion)
* Or alternative

[2017-07-25 19:57] brandontamm commented on #932
I'm going to feel like a pain for asking this, but am I missing something? I **do** see the image cache clean and a host of other addon commands.

However, I do not see anything about clearing the cached js and css?

[2017-07-25 20:18] ktomk commented on #932
My mistake, the command `media:cache:image:clear` is not part of Magerun and I think as well not of the Add-On I linked. I fear that command is not (yet) publicly available. The article you link is perhaps short-sighted on this fact and the author was using an add-on which is not available.

However I hope the Add-On linked might contain a good alternative to it. But I can't exactly say b/c I don'

[2017-07-25 20:21] brandontamm commented on #932
Thank you for the image cache clearing - that was definitely one I didn't have a workaround for using magerun. I currently turn the js and css merge off, clear all caches and then turn it back on which I believe does the same type of thing but I was hoping for a clean way to do this via magerun.

I also like the idea of the media rsync overs ssh feature and may implement a solution and potential p

[2017-07-25 20:36] ktomk commented on #932
Peter who maintains that add-on is very supportive and if you provide something usable I think he is very willing to take care. I also hope that Christian can shed some light here, I think the commands in question are used internally by Netz98 and they are most likely worth to add to Magerun publicly, I think they are stable enough for that. But he must say if he wishes to release them.

[2017-07-25 21:00] cmuench commented on #932
@ktomk you are right. The commands are provided by an intern netz98 module. I think it's ok to publish them.

[2017-07-25 21:29] yoosefi opened #933 "Make config:get list out section values"
It would be nice to be able to view an entire section at once by just supplying the path to it.

With `Mage::getStoreConfig()`, if you omit the final node from the path, you get an array back of all of the section's values. Could use that.

Examples:

[code]

[2017-07-26 07:00] ktomk commented on #932
@cmuench that's great to read. looking forward to it, let me know if I can lend you a hand.

[2017-07-26 22:08] ktomk commented on #933
What you're looking for is possible by using a wildcard:

Show all values:

      $ bin/n98-magerun config:get '*'

Show web values:

    $ bin/n98-magerun config:get 'web/*'

etc.

Is that the feature you're looking for?

[2017-07-27 13:47] dfelton commented on #588
@fbrnc Old post but could you please elaborate on this a bit more.

I am aware of the difference between a Cache Group, and a Cache Tag. Are you stating that `cache:clean` will only clean out *those tags which have been flagged as invalid*?

Take for example the `Block HTML` cache group. Lets discuss two blocks `Foo`, and `Bar`.

`Foo` has the following logic it's class:

    protected function _c

[2017-07-28 00:25] yoosefi commented on #933
Ah wonderful, thank you.

[2017-07-28 16:29] #933 closed

[2017-07-28 16:29] cmuench commented on #932
Two new commands are available in develop branch.

[2017-07-28 16:46] ktomk commented on #932
@cmuench: Thanks!

[2017-08-01 11:01] sprankhub commented on #313
There is already a plugin for that - see https://github.com/magento-hackathon/EAVCleaner / `eav:media:remove-unused`.

[2017-08-07 16:27] brandontamm commented on #932
These two commands work in the dev branch and are a great addition to Magerun! Thank you!!

[2017-08-10 14:45] brandontamm commented on #932
I am using the magerun-dev release (so I can use the new js and css cache clearing commands) and I keep getting the following error when trying to run my alias for magerun
PHP Fatal error:  Call to undefined method Symfony\Component\Console\Command\HelpCommand::isHidden() in /var/www/html/vendor/symfony/console/Descriptor/ApplicationDescription.php on line 122

The ironic thing is that I can use a

[2017-08-10 14:51] brandontamm commented on #932
When I run 'self-update' command on version 1.97.31 (dev) ... the dev version is downgraded to 1.97.30.

After the downgrade, the basic command works and shows all commands again without the PHP Fatal Error.

Not sure if the downgrade from dev to stable was expected so I figured I'd make you guys aware.

[2017-08-10 14:53] brandontamm commented on #932
FYI - The jscss and image cache clearing command report that they have run and completed, however,  the new cached js and css never show up in the media folder so I'm thinking that the PHP error is breaking that functionality (probably some others too) even though magerun is echo'ing that the commands ran successfully

[2017-08-10 20:49] ktomk commented on #932
The symfony component is loaded from within the vendor folder in `/var/www/html/vendor`  - if you installed Magerun via composer this might be common, however I'm not so sure you did. So perhaps some things intermix here and you run into dependency problems. If you use the phar file from magerun this might signal a problem on the autoloading we do inside Magerun - we re-use from Magento for core f

[2017-08-22 13:02] ChojinDSL opened #934 "add --stdin option to db:import"
Would it be possible to add the ability to import a DB via a pipe?

db:import always seems to expect a filename. db:dump has an --stdout parameter.

Is there a specific reason why there is no --stdin for db:import?

[2017-08-23 06:23] ktomk commented on #934
I think this is technically possible but requires an implementation. Any interest in taking care of this?

[2017-08-24 14:52] goosehub opened #935 "Where to check the checksum?"
"If it shows the same checksum as on the website, you downloaded the file successfully."

I think it's great you're encouraging developers to check checksums. That said, where on the website can I check my checksum?

This is the website right?

http://magerun.net/

What page do I need to be on?

Can you update the README to be more clear on this?

[2017-08-24 15:42] cmuench commented on #73
@goosehub If you change the working directory to your shop installation the root directory should automatically be detected.

Another solution is a Bash alias.

[code]

[2017-08-24 17:19] ktomk commented on #73
And/Or make use of the [stop file feature (comment)](https://github.com/netz98/n98-magerun/issues/444#issuecomment-72317981).

[2017-08-24 17:23] ktomk commented on #935
The website is https://files.magerun.net/ it has the downloads and the checksums.

[2017-08-24 18:31] ktomk commented on #935
Sure, you may file a pull request. We're always open for contributions :) Thanks for taking care.

[2017-08-24 18:36] goosehub commented on #73
@cmuench I like the bash alias solution. Much better than changing the location of our Magento installation, our build system, and our modman setup.

@ktomk I read that, and I'm familiar with yaml, but it's not clear what the contents of the yaml should be for me to accomplish no longer needed to specify --root-dir?

Is any of this documented in the README or help or list command? If not, should i

[2017-08-24 19:23] ktomk commented on #73
@goosehub: It's not a YAML file (which is configuration) but a file which contains the path to the magento folder (relative to the file itself) named `.n98-magerun`. That is the so called *stop-file* (Magerun stops looking for the path and takes that one in that file).

[2017-08-25 10:25] convenient commented on #932
Hey @ktomk and @cmuench

I was just looking to use `media:cache:jscss:clear` on an old client but it hasn't been released in a tagged version yet.

Do you have any idea when you are intending on creating a new release?

We try to keep `magerun` on our production versions at the latest stable version, and I know technically `magerun self-update --unstable` will probably be fine it would likely conc

[2017-08-25 15:04] ktomk commented on #932
Normally the development builds are stable thanks to the checks we have running w/ Travis CI. If a build becomes red we're quick w/ fixing. However a point release would be nice, too :) :+1:

[2017-08-25 15:10] convenient commented on #932
@ktomk I know it's pretty stable, you know it's pretty stable.

I just don't want to have the row with the sysadmin to convince him to ignore the message that comes along with `magerun self-update --unstable`

😆

[code]

[2017-08-25 18:54] ktomk commented on #932
Well it's perhaps an overstatement that line, the license file has a bigger disclaimer for the stable version even. But only just saying.

Perhaps Monday is a better day for a new dot release, Friday is not. I know that @cmuench has that preference, maybe it's possible to file a new version then soon. We have enough changes that would qualify I'd say.

[2017-08-25 19:18] convenient commented on #932
Hey, sorry I didn't mean to press you to release on a Friday, that'd be
mad.

I was just checking for the timeline, days/weeks/months. :)

have a good weekend

On 25 Aug 2017 19:54, "Tom Klingenberg" <notifications@github.com> wrote:

[2017-08-26 08:05] cmuench commented on #932
@convenient I just created the release branch `release/1.6.0`. If everything is ok, we can release on Monday.

[2017-08-26 08:14] cmuench commented on #897
Release is planned for Monday 26. August.

[2017-08-26 08:26] cmuench commented on #932
@convenient I just created the release branch 1.98.0. If everything is ok, we publish on Monday 28. August.

[2017-08-26 08:50] ktomk commented on #908
Fixed in next release 1.98.0.

[2017-08-26 08:50] #908 closed

[2017-08-26 08:53] convenient commented on #932
@cmuench You guys are too good 🙇 Thanks!

[2017-08-30 09:57] tylerssn opened #938 "Error after executing ./n98-magerun.phar selfupdate"
`./n98-magerun.phar --version`: n98-magerun version 1.98.0 by netz98 GmbH

I receive the error below. The only effort that I have made to resolve this is disabling `app/lib/n98-magerun`

[code]

[2017-08-30 14:00] convenient opened #939 "Fatal error: Call to undefined method Symfony\Component\Console\Event\ConsoleCommandEvent::commandShouldRun"
I'm getting a PHP fatal error when trying to instantiate magerun for a client which has magento installed into a sub directory using https://github.com/AydinHassan/magento-core-composer-installer.

#### Setup prep for version 1.98.0
[code]

#### Showing the PHP fatal error

[code]

#### Probable cause is 3f015d2b3426c9087eeeba0cfb42f92f5b6a417b

[code]

I'll be looking into this when I have time,

[2017-08-30 15:21] convenient commented on #939
A quick round of experimentation suggests this is only breaking in community edition, my EE instances all work without issue.

The client is running 1.9.2.4

[2017-08-30 16:03] convenient commented on #939
Commenting out the following line seems to make the issue disappear

https://github.com/netz98/n98-magerun/commit/3f015d2b3426c9087eeeba0cfb42f92f5b6a417b#diff-733082d0f223a21b50061401f988bf02R320

[2017-08-30 17:40] ktomk commented on #939
Never seen that error, what makes me wonder is why the method shouldn't be there in in CE edition, Magerun itself should ship with it (via it's requirements as operating on Symfony Console).

[2017-08-30 17:41] ktomk commented on #939
#938 might be related....

[2017-08-31 09:26] JeroenBoersma commented on #938
I've the same after updating, downgraded again...

[code]

I think this update has changed the command constructor, maybe even the `Symfony Command`

[2017-08-31 16:08] tylerssn commented on #939
@convenient - I am running EE and am having a [similar issue](https://github.com/netz98/n98-magerun/issues/938).

[2017-09-04 21:42] convenient commented on #938
I've managed to isolate this issue a bit further, entirely by accident as I was actually trying to demonstrate #939 which I believe is linked ¯\\_(ツ)_/¯

See the details in this repository I've just thrown together: https://github.com/convenient/n98-magerun-1-98-0-broken/

I believe 1.98.0 to be incompatible with this module: https://github.com/Cotya/magento-composer-installer, particularly the au

[2017-09-04 21:43] convenient commented on #939
See my update on #938, I think both these issues may have the same (or similar) cause.

Furthermore, I do not think it is CE vs EE anymore, but rather whether you are using the https://github.com/Cotya/magento-composer-installer module.

@tylerssn are you using that module?

[2017-09-05 11:04] convenient commented on #938
I think I got this, although I think I may be going a bit mad. I've not really worked with `.phar` files under the hood before but this is what I thinks happening based on experimentation.

1. https://github.com/Cotya/magento-composer-installer - modifies `app/Mage.php` so that it does a `require_once` of the **projects** `vendor/autoload.php` right after `app/Mage.php` is required but before Mage

[2017-09-05 11:06] convenient commented on #939
I am closing this issue as i am now 100% confident it is the same as #938 , just a different error message based on project specific configuration.

https://github.com/netz98/n98-magerun/issues/938#issuecomment-327143700

[2017-09-05 11:06] #939 closed

[2017-09-05 21:45] ktomk commented on #938
@convenient: Thanks for the detailed report. I tried to reproduce but couldn't due to some re-install issues with the repo you did. Must be some error on my end. From comparing the changeset I somewhat miss which changes therein triggers it. I can see it changes from a closure to a named function but otherwise the change should only move the code. Sadly can't look more detailed right now and still

[2017-09-05 22:01] convenient commented on #938
Hey @ktomk do you mind sharing the issue you saw? I checked out my repo and copy/pasted my commands and it seemed to work okay.

I think in 3f015d2b3426c9087eeeba0cfb42f92f5b6a417b the change was to instantiate Magento earlier in the request flow, in this new case it is instantiated so early in the request flow that not all symfony console components have been loaded by the time `require_once app/

[2017-09-05 22:10] ktomk commented on #938
Was not aware of the change in order. Then this should be moved back into the old order, IIRC this was only due to refactoring.

I think this one added line is then the culprit: https://github.com/netz98/n98-magerun/commit/3f015d2b3426c9087eeeba0cfb42f92f5b6a417b#diff-733082d0f223a21b50061401f988bf02R320

[2017-09-05 22:14] convenient commented on #938
Haha @ktomk, by chance I highlighted that when I was debugging [last week](https://github.com/netz98/n98-magerun/issues/939#issuecomment-326038538), but that was more of a "comment out and pray" kind of approach to debugging.

I based part of my reasoning on your code as well as your commit message which says

initialisation.

Either way, for now I have a workaround (make my symfony/console versio

[2017-09-05 22:28] JeroenBoersma commented on #938
Results for the broken project
[code]

Downgrading to 1.97.latest was the best solution for now and worked like a charm.

[2017-09-11 21:32] ktomk commented on #938
I now tried to reproduce with your test-stand repo against a development build (which is 1.98.0) and I could not reproduce. I filed it as well on github (execute `./install.sh` to execute the commands like in your readme but against the src bin/n98-magerun, edit the path to the command as needed). This is somewhat a pity, as I tried to reproduce and fix. I have the feeling this is depended to the

[2017-09-12 06:03] ktomk commented on #938
@convenient: I have not yet checked against side-effects on #902 but not initializing early there does prevent the fatal errors. I'm running a private build, but I'd say that is a fix for the moment.

[2017-09-12 08:08] convenient commented on #938
@ktomk Woo :) Glad you were finally able to replicate. If you get the fix in a branch I can compare against #902 to see if it works for me.

[2017-09-12 08:13] convenient commented on #903
@cmuench This issue will be covered by https://github.com/netz98/n98-magerun/pull/940

[2017-09-12 18:43] ktomk commented on #938
@convenient: Just pushed to the development branch. Your analysis hits the nail on its head. I fear we run into problems for #902, we should be able to handle this differently (that is w/o requiring Mage.php) however I have problems to test for that as I don't have an enterprise edition at hand.

[2017-09-12 18:52] tylerssn commented on #938
In regards to https://github.com/netz98/n98-magerun/issues/939#issuecomment-327031517, yes, I am using this installer.

[2017-09-13 16:46] ktomk commented on #938
We perhaps use a way too outdated version of the Symfony Console components? If so, we can raise the requirements as well to match demands, however, for those users using the Magento Composer Installer, it is perhaps best to add Magerun itself as a composer dependency. This *should* work (if not, we should fix this, this is an option we target). This might help for users to get best of both worlds

[2017-09-14 10:29] convenient commented on #938
From my experimentation above each different version was giving a different error though, so I do not think this will help massively as it will still operate differently with different projects.

My experimentation of the fix in the `develop` branch causes

### 1. Causes a regression on #902

[code]

### 2. Fixes #938

[code]

Since #902 was only raised because of my heavily customised Magento ins

[2017-09-14 10:43] convenient commented on #938
@ktomk My PR here https://github.com/netz98/n98-magerun/pull/942 seems to fix this issue, as well as #902.

See what you think, but it seems like it'll allow everyone to work as they have been without any change in workflow as well as correct the issues.

[2017-09-14 17:29] ktomk commented on #938
I expected the regression, thanks for confirmation. I merged your latest patch #942 into the development branch. Maybe we can see a stable fix version on monday, @cmuench  should be in the loop for release release decision.

[2017-09-14 17:38] cmuench commented on #938
@ktomk @convenient Thanks for the great investigation. I will do additional checks on weekend. In this case we should try to release a hotfix.

[2017-09-15 15:51] cmuench commented on #938
First tests are good. Lock and unlock are working.

- [X] Tested in a Magento EE 1.14.2.0
- [X] Tested in a Magento EE 1.14.3.2

[2017-09-15 15:56] cmuench commented on #938
I got some fatal errors during a call to sys:info command. Maybe this is another problem.

[2017-09-15 16:24] cmuench commented on #938
ok. The fatal error could be fixed. It was not related to n98-magerun. At the moment everything works.

[2017-09-18 09:45] #938 closed

[2017-09-18 18:26] #935 closed

[2017-09-18 18:27] #932 closed

[2017-09-18 18:30] ktomk commented on #911
To progress further on this issue we need at least some test-run. Best is from the original reporter, but I don't want to force this on any of your production system, just saying why this issue might look stale.

[2017-09-19 08:46] dfridrich opened #943 "Can't install via Homebrew"
I am trying to install n98-magerun via **brew** but still can't do that because of SHA256 mismatch. I tried `brew update` and `brew upgrade`.

[code]

[2017-09-19 11:30] Filyox3 commented on #943
Same here. I tried `brew cleanup` as well.

[2017-09-19 11:31] cr15p opened #944 "Error on db:dump"
When calling
` php n98-magerun.phar  db:dump --strip="@stripped"`
I got following error message:
`PHP Fatal error:  Call to undefined function N98\Magento\simplexml_load_file() in phar:///.../n98-magerun.phar/src/N98/Magento/DbSettings.php on line 63`
I'm running php version 5.6 at Ubuntu 16.04.3 LTS, although that shouldn't matter.

Did i do something wrong or is it a known issue?

P.S. Just down

[2017-09-19 16:42] ktomk commented on #943
The build-server looks broken, I can confirm that the sha256 hash for tag 1.98.0 of

    4e48652f347a48e9b323a0b042d0a97ce1f9ffb7ff48104a9143be217cb8fe63

is correct. But for the downloaded file, there seems to be the different checksum. So the error is correct, but we have a problem on the build-server.

[2017-09-19 16:51] ktomk commented on #944
Looks like you don't have the SimpleXML Module activated on PHP 5.6 in CLI (command-line-interface). Can't say which packages you're using, with *Sury* that is:

    $ sudo apt-get install php5.6-xml

Can't say for vanilla Ubutnu packages, perhaps similar. *Sury* is https://deb.sury.org/ .

[2017-09-19 20:52] cmuench commented on #943
@dfridrich @Filyox3 I restored V1.98.0. Can you please check again if the brew installation is working again?

[2017-09-19 20:57] cmuench commented on #943
@ktomk Found the problem in the build process, but I have no fix at the moment.

[2017-09-20 07:51] Filyox3 commented on #943
@cmuench, I've tried again and everything seems to be ok 👍
Thank you! 🎉

[2017-09-20 07:55] cmuench commented on #943
Great

[2017-09-20 07:55] #943 closed

[2017-09-22 20:55] berliozd opened #947 "Try to access table before creating it"
Hi,
I have just tried to install Magento 2 using the following command :
magerun install --noDownload

I follow the instructions and answer the questions but then the following error occurs :
[RuntimeException]
  Installation failed (Exit code 42). Starting Magento installation:
  File permissions check...
  [Progress: 1 / 481]
  Required extensions check...
  [Progress: 2 / 481]
  Enabling Mainte

[2017-09-23 08:52] cmuench commented on #947
@berliozd If this is a customized Magento installation, please check if there is a `SchemaInstall` or `SchemaUpgrade` class which tries to get the data. Some common mistake is that data operations are done during in schema installation process.
Magerun only starts the installation process. The content of the setup classes will not be modified by magerun.

[2017-09-24 08:13] #944 closed

[2017-09-24 08:20] cmuench commented on #904
@nickw108 if you call db:dump with strip option... Are there data in the customer tables?

[2017-10-06 12:39] seansan opened #950 "db dump development; exclude all, except like 2"
We use db dump development, no payments, orders, customers, etc anonymous

But sometimes we really really need 1 or 2 examples created on LIVE

How can we use db dump development for example, but  retain 2 customers, 2 orders and their payments, shippings etc

So strip all: except maybe 2

Maybe an idea

[2017-10-06 15:18] ktomk commented on #950
This is not really feasible with the routines we have. This sounds a bit like a fixture for a test-system (in the general sense this could be your development system for example). For Magento 1 there is a test-framework which has fixture support (e.g. [EcomDev_PHPUnit](https://github.com/EcomDev/EcomDev_PHPUnit) or with less fixture support maybe [Digital Pianism Test Framework](https://github.com

[2017-10-06 15:58] seansan commented on #950
​I know - and we can automatie user creation
only in some cases you need some "generated from" the original system where
DB comes from to test
this is why I asko

On Fri, Oct 6, 2017 at 5:19 PM, Tom Klingenberg <notifications@github.com>
wrote:

[2017-10-06 18:45] cmuench commented on #950
I have no idea how we can do this. Most data have dependencies that why we only have a hard “export" or "skip" data. Filtering on datasets is not easy with export tools like mydqldump.

[2017-10-14 16:12] sprankhub opened #952 "Selfupdate Updates Over and Over Again"
The `self-update` command seems broken with the latest version:

    simon@simonpad-t470s ~> n98-magerun.phar -V
    n98-magerun version 1.99.1 by netz98 GmbH
    simon@simonpad-t470s ~> sudo n98-magerun.phar self-update

    It's not recommended to run n98-magerun as root user

    Updating to version 1.99.0.
     Downloading: 100%Successfully updated n98-magerun
    RECENT CHANGES
    ==========

[2017-10-15 15:32] sprankhub commented on #952
This falsy version number has already been fixed in 065ca48d80bb3b7c8bd0fc1fd45d33015a5bd6e1. The issue should be automatically fixed with the next version. But maybe it would be a good idea to skip version 1.99.1 then...

[2017-10-15 15:32] #952 closed

[2017-10-16 07:20] cmuench commented on #952
Next version will be "1.100.0".

[2017-10-16 13:16] lfluvisotto opened #953 "PHP Fatal error: Uncaught Error: Call to undefined method Symfony\Component\Console\Command\HelpCommand::isHidden() in vendor/symfony/console/Descriptor/ApplicationDescription.php:115"
PHP Fatal error:  Uncaught Error: Call to undefined method Symfony\Component\Console\Command\HelpCommand::isHidden() in vendor/symfony/console/Descriptor/ApplicationDescription.php:115
Stack trace:
#0 vendor/symfony/console/Descriptor/ApplicationDescription.php(82): Symfony\Component\Console\Descriptor\ApplicationDescription->inspectApplication()
#1 vendor/symfony/console/Descriptor/TextDescriptor

[2017-10-16 15:51] cmuench commented on #953
Duplication of #938

[2017-10-17 17:55] tylerssn opened #954 "Indexer is not dropping reindex_full.lock and is not outputting DB errors"
EE Version: 1.14.3.3
Magerun: Latest Master

Reproduce: (also applicable to index:reindex:all)
`rm var/locks/* && magerun -vvv index:reindex catalog_product_attribute && ls var/locks`

No error is expressed or logged and the file var/locks/reindex_full.lock is not removed.

[2017-10-18 14:36] tylerssn commented on #954
Closing since I cannot yet confirm that this is magerun related.

[2017-10-18 14:36] #954 closed

[2017-10-24 14:18] tylerssn opened #955 "Feature Request: config:set global"
It would be nice to update all values for a setting, regardless of scope.

Something like: magerun config:set path/to/setting value --global

[2017-10-24 15:07] cmuench commented on #955
@tylerssn What is the difference between?

`magerun config:set path/to/setting value --global`

and

`magerun config:set path/to/setting value`

[2017-10-24 15:10] tylerssn commented on #955
My understanding is that `magerun config:set path/to/setting value` updates the dafault scope and will not modify website or store scopes that do not inherit this value. If the website and store scope have a different value than default, they will not inherit the new value. `--global` either (1) force the values to update at each scope or (2) set the default scope and delete the website and store

[2017-10-24 15:12] cmuench commented on #955
If only need the "global" value, you can set the scope-id to zero. That's the default.

[2017-10-24 15:26] tylerssn commented on #955
Right, but this does not update the store and website scope. Here is my use case:

When deploying a dev environment, I do not want to disable my cron but I do want to disable specific cron enable/disable settings.

I'm providing JSON in the format of:

    {
        "cron/setting/enable": 0,
        "other/system/setting": 0
    }

This is then parsed in a foreach when deploying my dev environment

[2017-10-24 19:31] cmuench commented on #955
@tylerssn ok, Now i know what you are meaning. The name "global" was a little bit misleading for me. The term "global scope" also exists.

The feature is more a "set a value in global scope and delete all store-view values".

[2017-11-01 11:12] rorteg opened #956 "files.magerun.net - PHAR file is damaged"
Hello,

The link in https://files.magerun.net/ for Magento 1 is not working, download only a 4kb file that has no content.

Thanks

[2017-11-01 11:20] ktomk commented on #956
Indeed, all the downloads are broken. It's only delivering the she-bang:

[code]

[2017-11-01 11:43] cmuench commented on #956
Server tries to process the phar instead of a download. The server runs with PHP 7.1.

[2017-11-01 11:51] cmuench commented on #956
Fixed. Apache updated added "phar" execution to the module configuration.
[code]

[2017-11-01 11:56] rorteg commented on #956
Thank You!

[2017-11-01 11:56] #956 closed

[2017-11-24 22:15] #947 closed

[2017-11-28 05:24] jonpday opened #960 "stripped database dump should sanitize giftcards"
Enterprise installations of Magento save giftcard data into tables such as `enterprise_giftcardaccount` and `enterprise_giftcardaccount_pool`

These should be excluded when running db:dump --stripped=@development

[2017-12-09 14:40] szepeviktor opened #961 "Combined module xml is not handled"
[code]

When disabling them:

[code]

[2017-12-09 17:20] szepeviktor opened #962 "Flushing only config cache after disabling a module"
This is how I disable a module.
[code]
We use Redis and PHP OPcache, so var/cache is empty.

Is there a way to disable a module without flushing everything thus **logging out** admins?

[2017-12-10 17:51] cmuench commented on #962
@szepeviktor You should run a separate redis instance for your session data. Another way is that you use the cache:clean command. This will not clear the complete cache at once.

[2017-12-10 17:53] szepeviktor commented on #962
Thank you!

[2017-12-10 17:53] #962 closed

[2017-12-10 17:53] cmuench commented on #961
@szepeviktor Please give us more precise informations about your problem.

[2017-12-10 18:09] szepeviktor commented on #961
I am not able to disable this module as these three modules have a common xml file.
I think Magento understand the common config.

[2017-12-15 09:29] gbarranco opened #963 "N98-magerun not working on Debian 9 and PHP 7"
Hello !
I have a development environment on Debian 9 with PHP 7. I installed n98-magerun like this :
`wget https://files.magerun.net/n98-magerun.phar`
I gave the right to execute it to all (like advised on the homepage of the project).
I copied it in /usr/local/bin.
This is what I get when I run it :
`dev@dev:~/public_html$ n98-magerun.phar --version`
` `
I can wait as long as I want, it doesn't c

[2017-12-15 10:07] cmuench commented on #963
@gbarranco There could be a lot of possibilities.
Can you install composer (they have the same requirements) to run a phar file.
The installer tests the platform requirements.

[code]

[2017-12-15 10:26] gbarranco commented on #963
@cmuench > I have the same problem with the command you gave me (it's been close to twenty minutes I launched it and still no response).
I have to precise I have a pretty cool connection here at work.

[2017-12-15 10:29] cmuench commented on #963
So we can exclude a n98-magerun problem.
This looks like a network issue.
Can you download the installer with curl or wget?

[2017-12-15 10:31] gbarranco commented on #963
Yes I have downloaded the package with wget, like I said in my first post.
Also I can ping the Google's DNS 8.8.8.8 and all from this machine.

[2017-12-15 10:45] bw1984 opened #964 "non standard var/cache location"
We are using a non-standard path for the location of the var folder, and as a result it appears that the cache: functions aren't working correctly since they are looking in the default location.

Moving the /var folder is supported out of the box in magento, despite being woefully undocumented, so I dont think a lot of people are aware of it. We have encountered lots of modules which just assume {

[2017-12-15 11:02] gbarranco commented on #963
I deleted the package and could reinstall it using Curl, this time. Still the same problem

[2017-12-15 11:09] cmuench commented on #963
@gbarranco For me something is corrupt in your system. I watched a video of a guy who installed composer without any problems on Debian 9.

https://www.youtube.com/watch?v=tzNNrEO2wFM

[2017-12-15 11:11] gbarranco commented on #963
@cmuench I installed composer without problem with apt-get maybe there is some conflict or something ?

[2017-12-15 12:22] cmuench commented on #963
Yes, with apt-get, but the PHP based installation is not working. So it looks like a problem with the PHP installation.

[2017-12-15 13:55] gbarranco commented on #963
@cmuench : I found the problem !!! \o/

But it was a really stupid problem : I had to debug some cli script so I configured my environment and my IDE to use Xdebug but I didn't cut it. I stopped PHPStorm to listen Xdebug connections and it work !

Thank you very much for your help

[2017-12-15 13:55] #963 closed

[2017-12-27 15:35] #953 closed

[2017-12-30 15:13] pocallaghan commented on #961
I believe this refers to the way the `dev:module:disable` command is implemented. It looks for a file `app/etc/modules/Vendor_Module.xml` and then updates the active node. Whilst this works in 95% of cases, there is no hard requirement for either a.) The filename to match the module name and b.) a sperate file for each extension.

Take `Mage_Newsletter` as an example, if you attempt to disable thi

[2017-12-30 15:51] cmuench commented on #961
@szepeviktor @pocallaghan Yes, I understand the problem. It is not so simple as it looks like. The module:disable command should only modify the last occurance of the xml node.
Anyway... it is possible to solve this issue. At the moment I am busy with other tasks. So this issue is not on my personal priority list.
Feel free to submit a PR for this.

[2018-01-05 17:03] Schrank commented on #181
I have the same problem in my deployment:
[code]

And it is reproduceable on bash:

[code]

[2018-01-05 21:59] ktomk commented on #181
please check if `/usr/bin/php`  is the CLI SAPI variant:

[code]

Just tried with that wget and the PHP class given in the error is part of the phar archive, so it is actually in and not missing.

[2018-01-05 22:03] Schrank commented on #181
[code]

Looks good to me. Doesn't matter for the moment, so no pressure from my side. If I find time to debug I'll tell you the results

[2018-01-06 11:26] pocallaghan commented on #961
@cmuench can you explain what you mean by `should only modify the last occurrence`? As far as I can tell looking at https://github.com/netz98/n98-magerun/blob/master/src/N98/Magento/Command/Developer/Module/Disableenable/AbstractCommand.php#L102, it doesn't attempt to deal with multiple occurrences of any node.

The only situation I can think of that you could be referring to is whereby an additio

[2018-01-06 13:17] pocallaghan commented on #964
Whilst this may be a feature of core Magento, it seems that in order to activate that feature you've modified the core `index.php`, since `n98-magerun` is a separate standalone application, it doesn't interact with your `index.php` file and thus it'd have no way of knowing you've modified it.

In order for `n98-magerun` to deal with this it would need to know about it somehow. Looking at [`_initMa

[2018-01-06 14:50] cmuench commented on #964
Sorry for the late response. I think @pocallaghan is writing all the facts.
We already support the third parameter of the Magento app initialization.
You can specify the options by creating a shop specific n98-magerun.yaml file.
We do not use index.php, because n98-magerun is a CLI tool and index.php is for the web frontend.
The posted configuration in the previous comment looks good for me.
It sh

[2018-01-08 00:29] bradberger opened #967 "Add Magento 1.9.3.7"
PR coming

[2018-01-08 12:15] ktomk commented on #967
Thanks!

[2018-01-09 20:47] pocallaghan commented on #961
I've attempted this in pull request 969. Let me know if there are any issues.

[2018-01-10 19:36] pocallaghan commented on #961
Incidentally, how do I run that check locally and get the same results as Travis? Looking at `build/travis/script.sh` I assumed I could run `vendor/bin/php-cs-fixer --diff --dry-run -v fix`, but I got very different results. It picked up a lot more "issues".

[2018-01-11 00:18] ktomk commented on #961
@pocallaghan: `vendor/bin/php-cs-fixer --diff --dry-run -v fix` looks good to me. it should give the same output, it's the exact same command as it is run on Travis. It depends on the working directory and must be executed in the root of the project. It should not give more errors when applied to the same files (see `.php_cs` file). Perhaps a different working directory or there are additional fil

[2018-01-11 09:31] pocallaghan commented on #961
Yer, I was originally going to ask how to check it, but figured in the end if Travis is doing it, it must be in the code somewhere. So I grabbed that line out of the travis script. I'm 90% sure I was in the right directory and I'm using a new MBP with a fresh clone of the repo, so I'm not sure how the version could be wrong. I wasn't sure if Travis was somehow only running against the files touche

[2018-01-11 18:35] ktomk commented on #961
Travis runs against all the files, independent to the change in the PR. But thanks for your feedback, it shows this is a bit cumbersome to use, perhaps integrating it as a composer script can do it.

[2018-01-11 18:41] cmuench commented on #961
We have a pre-commit-config yaml to generate git commit hooks.
I use this to prevent wrong styles.

https://dev98.de/2017/01/23/a-framework-to-prevent-invalid-stuff-in-your-git-repository/

[2018-01-11 19:02] ktomk commented on #961
Something along the lines like

     $ composer ci

springs to mind. Git hooks tend to create more problems than they solve. I've tried some of the different utils there are (another one with Composer integration is [Captain Hook](https://github.com/sebastianfeldmann/captainhook)) but most often these hooks don't check for rebase and the actual staged fragments. Can't say for [pre-commit](http://p

[2018-01-11 20:56] pocallaghan commented on #961
Double checking it now, if I run ` vendor/bin/php-cs-fixer --diff --dry-run -v fix` it does as you expect. Since it takes awhile, I figured I could speed it up with `vendor/bin/php-cs-fixer --diff --dry-run -v fix src/N98/Magento/Command/Developer/Module/Disableenable/`, turns out that somehow gives a different result. Perhaps because `.php_cs` isn't in that directory so it uses the default.

[2018-01-11 21:19] cmuench commented on #961
The pre-commit-config hook checks only the changed PHP files. So it is fast. Give it a try.

[2018-01-12 10:22] pocallaghan commented on #961
Will give it a go, thanks.

[2018-01-12 12:06] pocallaghan commented on #934
I believe it would be more complex to achieve a `stdin` option than the `stdout` feature. The import is performed by using `exec`, delegating to mysql and simply using file redirection, easy enough to achieve since we just pass the filename into the command being passed. To achieve `stdout` it therefore just needs to not redirect / capture the output, again achieved by simply not redirecting the o

[2018-01-13 16:47] ktomk commented on #934
I quickly checked, `exec` is immune to STDIN:

    $ echo "hello" | php -r 'exec("cat");'

However with `passthru` it worked:

    $ echo "hello" | php -r 'passthru("cat");'
    hello

I would guess that for large inputs `passthru` then should be used.

You can use *some* of the stream handles directly with `proc_open`, IIRC you must take `STDIN` and perhaps also opening `php://stdin` and passing

[2018-01-16 20:09] pocallaghan commented on #934
Took an initial stab at this, wasn't sure exactly how you'd want it to fit into the command, so let me know what you think. I was surprised that in my initial test, it seems that `exec` actually did have access to the STDIN data. I can add to the readme.rst if you're happy with the approach.

[2018-01-18 14:59] dhpowrhost opened #971 "direct link to sha256 checksum"
Is there a direct link to a file that only contains the sha256 checksum? For use for my configuration-management system (saltstack)

[2018-01-18 17:10] cmuench commented on #971
@dhpowrhost Yes!
Example:

https://files.magerun.net/sha256.php?filename=n98-magerun-latest.phar

Replace the filename query parameter with your downloaded version.

[2018-01-19 09:01] cmuench commented on #971
@dhpowrhost Sorry, the correct query parameter name is "file".

https://files.magerun.net/sha256.php?file=n98-magerun-latest.phar

[2018-01-20 06:10] dhpowrhost commented on #971
perfect

[2018-01-22 16:26] maderlock opened #972 "Database dumps with @development stripped group has no admin roles or rules"
Using n98 1.100.0

Previously @development strips have included admin rules and roles. These tables are no longer, which is slowing down our testing as we work out how to recreate the specific rules that we have on production.

It seems odd that this data is stripped as it is needed for development and testing and has nothing to do with customers. Perhaps there could be a group for admin data so t

[2018-01-22 16:29] maderlock commented on #972
Hmm - looking at the updated readme file (doesn't match the documentation pages which confused me), I could use --strip="@trade @stripped" and this would give the old meaning of @development?

[2018-01-31 08:05] posttechguy opened #973 "Unsupported signature"
Hi,

I have tried to find a solution for this without any luck. I am using the latest, but cannot say for certain what it is. I don't think that it is a n98 issues so much as environment issue.

I am running PHP5.6 on a vagrant box Ubuntu 14.04 LTS.

I have all the necessary modules loaded

Any help would be greatly appreciated. Thanks

[code]

[2018-01-31 09:28] pocallaghan commented on #973
Can you run `php -r 'print_r(Phar::getSupportedSignatures());'` on your vagrant box and show us the output. The Phars are given a signature, running:
[code]
results in:
[code]
for the latest download. I'm assuming that SHA-512 will not be listed in the output from `getSupportedSignatures`.

[2018-01-31 13:29] #967 closed

[2018-01-31 19:33] ktomk commented on #973
Source; [PHP Manual](http://php.net/manual/de/phar.fileformat.signature.php)

Which should be no problem for PHP 5.6 at all. It's over a decade or so. Looks a bit strange.

[2018-02-01 00:46] posttechguy commented on #973
You are right pocallaghan

`Array
(
    [0] => MD5
    [1] => SHA-1
    [2] => OpenSSL
)
`

And ktomk also correct as PHP hash  engines enabled include sha512

I seem to remember (not very clearly) a cli command to add hash types. Is that how i fix it?

Thanks

[2018-02-01 00:56] posttechguy commented on #973
Also here is my phar version info

PHP Version:               5.6.31
phar.phar version:         $Id: a58a9f060a207c567585aa4858b862d9278df83d $
Phar EXT version:          2.0.2
Phar API version:          1.1.1
Phar-based phar archives:  enabled
Tar-based phar archives:   enabled
ZIP-based phar archives:   enabled
gzip compression:          enabled
bzip2 compression:         disabled
supported sign

[2018-02-01 10:00] Quazz opened #974 "db:dump --add-time does not add timestamp to filename"
This used to work, but no longer.

I use the command

`php /var/www/vhosts/example.com/public_html/n98-magerun.phar db:dump --add-time --compression="gzip" --force`

to generate a database dump. The dump itself works as expected, but the filename remains databasename.gz, as opposed to databasename-timestamp.gz

[2018-02-01 10:03] pocallaghan commented on #973
There's some info in this thread where somebody else was encountering [the same issue with phpunit](https://github.com/sebastianbergmann/phpunit/issues/1948). Seems to be something to do with how your PHP was compiled, i.e. both openssl and hash need to be shared modules, as the determination of support is made at compile, not run time. So if one of them is shared and the other isn't, the extra si

[2018-02-01 16:00] shineability opened #975 "Running commands from code (Magento 1.9.x)"
Is it possible to run Magerun commands from your code (Models, Observers, ...) without using `exec()` as you would in Laravel and Symfony?

[2018-02-02 20:23] ktomk commented on #975
Technically yes, however you need to add Magerun as a dependency. And that is somewhat theoretical, I never did it that way round.

If you share a bit more about your concrete use-case, it's perhaps possible to give better hints.

[2018-02-02 20:45] ktomk commented on #974
Can you share in which version this worked for you and for which version you report the flaw?

[2018-02-05 12:17] Quazz commented on #974
I don't entirely remember what version it worked in. I only noticed it not working as expected earlier when I was checking backups.

Can't have been more than 10 versions ago that it worked though, if I remember correctly.

It runs automatically in a script, which is why I'm not sure when it went wrong.

[2018-02-05 13:06] shineability commented on #975
In a custom Magerun command we can run another command like this, e.g.:

[code]

If we need to run the same code triggered by a cron job, not in a CLI context, how could we reuse this command. Since we're not executing from a Command class we don't have access to `$this->getApplication()`, right?

For example, in Laravel you can do:
[code]

[2018-02-08 21:39] cmuench commented on #955
@tylerson You are right. In the last year the count of M1 Projects at netz98 decreased dramatically. Most of our projects are M2.
I think we can implement this feature. I have an overdue n98-magerun release for M1 on my to-do list.

[2018-02-09 01:45] posttechguy commented on #973
Thanks pocallaghan, Interesting read and somewhat frustrating as I can't move of of 5.6 for development reasons. Thanks for referencing my ticket there as well. I wonder if n98-magerun could/would "force the usage of legacy SHA-1 hashes" also.

[2018-02-09 14:36] RoussKS commented on #972
@maderlock yep, that's changed a while back. Had the same issue myself

Checking the config.yaml file, these are the tables that the development tag removes

So do all but @admin :)

[2018-02-12 05:18] cmuench commented on #972
#353

[2018-02-15 09:08] cmuench commented on #973
@posttechguy You can build your own phar file. Clone the repository and change the signature in this line: https://github.com/netz98/n98-magerun/blob/master/build.xml#L120

The you are able to build the phar file with phing. Phing will be installed if you run "composer install" after the clone.
The run `vendor/bin/phing`

[2018-02-17 18:03] amenk commented on #494
This weekend, I am trying another approach ... I extract the DB functionality to a simple PHP module (should not have a symfony dependency)

Sure, I try to use as much code as possible from the netz98 database code.

Here is the start: https://github.com/iMi-digital/database-helper

[2018-02-20 14:45] eriksenonline opened #976 "Update readme with @admin table group"
The @admin is missing on the readme list of table groupes
https://github.com/netz98/n98-magerun#stripped-database-dump

[2018-03-02 14:54] bradberger opened #978 "Add Magento 1.9.3.8"
Adding a PR now

[2018-03-05 12:49] m-schreiber opened #980 "sys:cron:run cannot execute ONLY schedule"
There seams to be a small bug, I've marked it here:
https://github.com/netz98/n98-magerun/commit/ae7637d6e0332974a72590c31e31b6989e7924d2

$input->hasOption('schedule') does not check if the option is given on cli but if it is defined which will always be true !

[2018-03-05 12:57] cmuench commented on #980
Already adressed in #977

[2018-03-05 13:00] #980 closed

[2018-03-10 22:32] szepeviktor commented on #583
Cleaning only `block_html` cache leaves the `config` cache empty causing this error.

[2018-03-10 22:37] szepeviktor opened #981 "Dry-run for selfupdate"
Could we have `n98-magerun selfupdate --dry-run` to only check for new version.
Thanks!

[2018-03-14 14:14] cmuench commented on #981
Yes, nice idea. Thanks.

[2018-03-22 16:00] ThomasNegeli opened #982 "db:dump and anonymized user data"
Are there any plans to implement a userdata anonymization when dumping the db?
On some installations we need the real customer account in developer environments, with complete account history, but we do not need real user data.

[2018-03-23 13:14] cmuench commented on #982
We do not have plan to add this feature to n98-magerun.
There is a 3rd party module available to anonymize customer data.
https://github.com/kalenjordan/magerun-addons#anonymize-customer-data

[2018-03-28 08:37] AdrianBalcan opened #983 "Enable symlinks without clearing sessions cache or redis flushdb"
In a scenario where I run Magento in Kubernetes Pods, I have to enable symlinks every time when a Magento pod is starting/restarting. But I am loosing Magento sessions because n98-magerun is running "flushdb". How can I enable symlink without loosing Magento sessions?

[2018-04-03 12:03] AScaredSquirrel commented on #974
It's working in my local environment which has version 1.97.28 installed.
It's **not** working on a dev server which has version 1.100.0 installed.

Can't say anything about versions between them.

[2018-04-09 08:35] mikerooijackers opened #984 "Can't install via Homebrew"
I am trying to install n98-magerun via brew but still can't do that because of SHA256 mismatch. I tried `brew update` and `brew upgrade`.

[code]

[2018-04-21 00:49] gety9 commented on #974
+1, i use
`
docker exec -ti mag_cron_1 magerun db:dump --add-time --strip="@development"`

and stamp is not added.

Output is identical to
`
docker exec -ti mag_cron_1 magerun db:dump --strip="@development"`

[2018-04-21 00:59] gety9 opened #985 "Fallback folder /tmp/magento/var is used in n98-magerun when running through SSH"
Guys hi,

I am using n98-magerun in docker container. And when i run commands directly in docker console everything works great. For example
`
docker exec -ti mag1_cron_1 magerun config:set web/unsecure/base_url http://mag1.net/`
changes base url.

However when i connect to server through SSH using putty, it says

"Fallback folder /tmp/magento/var is used in n98-magerun.
n98-magerun is using the f

[2018-04-21 12:43] bambamboole commented on #258
I have this problem right now on a df.eu managed server too. @mklooss do you have a solution for this?

[2018-04-21 13:02] mklooss commented on #258
Just take a look at the documention of mysql/mariadb:
https://mariadb.com/kb/en/library/configuring-mariadb-with-mycnf/

you should set the default charset in the ~/.my.cnf file

[2018-04-22 09:57] ktomk commented on #985
Use the correct user when executing the command inside the docker container. `docker exec` offers the `-u` switch for that. HTH.

[2018-05-03 05:57] cmuench commented on #983
@AdrianBalcan Die you try to set the config value with "config:store:set" command?

[2018-05-03 06:00] #978 closed

[2018-05-03 06:02] #961 closed

[2018-05-03 06:03] #973 closed

[2018-05-03 06:03] #971 closed

[2018-05-03 06:04] #964 closed

[2018-05-03 06:06] #903 closed

[2018-05-03 06:06] #916 closed

[2018-05-13 16:39] seansan opened #987 "For @development db export: option to export say 10 customers or products"
Idea? For @development db export: option to export say 10 customers or products

Now it strips all customer + sales + product data

Would it be an idea to have an option to keep the 10 last items? (at least then we already have some test data present)

[2018-05-14 14:16] cmuench commented on #987
Yes, good idea. At the moment we are only utilizing mysqldump.
Feel free to send an PR :-)

[2018-05-20 12:30] seansan opened #989 "magerun customer:create, not a valid email address"
I am issuing

magerun customer:create john johndoe@gmail.com password John Doe
This value is not a valid email address.
Email: ^C

Based on the example in the readme
error is This value is not a valid email address.

[2018-05-22 04:56] ktomk commented on #989
but the address is valid, correct? can you please also add the help output of that command, just the report is more clear?

[2018-05-22 07:01] seansan commented on #989
my bad. mixing up admin create magerun admin:user:create

[2018-05-22 07:01] #989 closed

[2018-05-25 09:58] szepeviktor opened #990 "Run PHP snippets on Magento"
I know dev:console may take one line of code.
It would be nice to have `n98-magerun dev:eval snippet.php`
Thanks!

[2018-06-15 13:06] 7ochem opened #991 "Implement option for sorting on a certain column on commands that output a tabular listing"
It would be very useful to have sorting options on the commands that output listing in table format.

The sort option would need a column name as an argument to sort on and should also have to option to specify the direction (asc/desc).

As an example:

    $ n98-magerun.phar dev:module:rewrite:list
    +----------+--------------------------------+-------------------------------------------+
    |

[2018-06-15 13:26] 7ochem opened #992 "Add list of rewritten controllers to dev:module:rewrite:list command"
I would like to have the controller rewrites to also be listed under the `dev:module:rewrite:list` command.

I know I could also get that info from running `n98-magerun.phar config:dump frontend/routers`, but that is pretty hard to read.

Right now I'm manually appending the controllers to my findings from the `dev:module:rewrite:list` command by running the following:

    $ ./n98-magerun.phar de

[2018-06-21 09:52] tobiasdalhof commented on #981
I think it makes more sense to check for new versions in `$ n98-magerun --version`